# Wed Scraping

In [25]:
# importing libraries

from bs4 import BeautifulSoup
import requests

Tasks:
    1. Write a python program to display all the header tags from
       ‘en.wikipedia.org/wiki/Main_Page’.
    2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name,
       IMDB rating, Year of release) and save it in form of a CSV file.
    3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e.
       Name, IMDB rating, Year of release) and save it in form of a CSV file.
    4. Write a python program to scrap book name, author name, genre and book review of
       any 5 books from ‘www.bookpage.com’
    5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You
       have to scrape:
        i) Top 10 ODI teams in men’s cricket along with the records for matches, points and
        rating.
        ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
        iii)Top 10 ODI bowlers along with the records of their team and rating.
    6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You
       have to scrape:
        i) Top 10 ODI teams in women’s cricket along with the records for matches, points
        and rating.
        ii) Top 10 women’s ODI players along with the records of their team and rating.
        iii)Top 10 women’s ODI all-rounder along with the records of their team and rating.
    7. Write a python program to scrape details of all the mobile phones under Rs. 20,000
       listed on Amazon.in. The scraped data should include Product Name, Price, Image URL
       and Average Rating.
    8. Write a python program to extract information about the local weather from the National
       Weather Service website of USA, https://www.weather.gov/ for the city, San
       Francisco. You need to extract data about 7 day extended forecast display for the city.
       The data should include period, short description, temperature and description.

# Task 1

1. Write a python program to display all the header tags from
   ‘en.wikipedia.org/wiki/Main_Page’.

In [26]:
# sending request

page= requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

Response 200 means we can scrap data from this site.

In [23]:
# source code

# page.content

In [27]:
# making the content structured.

soup= BeautifulSoup(page.content)
#soup

In [30]:
# making indentation.
    
soup.prettify()

In [25]:
# extract the html tag where we have all the header tags.

header= soup.find_all('span', class_='mw-headline')
header

[<span class="mw-headline" id="From_today's_featured_article">From today's featured article</span>,
 <span class="mw-headline" id="Did_you_know_...">Did you know ...</span>,
 <span class="mw-headline" id="In_the_news">In the news</span>,
 <span class="mw-headline" id="On_this_day">On this day</span>,
 <span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span>,
 <span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span>,
 <span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span>,
 <span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span>]

In [68]:
header_list=[]
for i in header:
    header_list.append(i.text)
header_list

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [34]:
header_list[1]= header_list[1].replace('\xa0','')

In [40]:
print('Task 1: Displaying all headers:', '\n')
print(header_list)

Task 1: Displaying all headers:

["From today's featured article", 'Did you know...', 'In the news', 'On this day', "Today's featured picture", 'Other areas of Wikipedia', "Wikipedia's sister projects", 'Wikipedia languages']

# Task 2

2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name,
   IMDB rating, Year of release) and save it in form of a CSV file.

In [2]:
# sending request

page2= requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
page2

In [28]:
# source code

# page2.content

In [29]:
# making the content structured.

soup2= BeautifulSoup(page2.content)
#soup2

In [31]:
# making indentation.
    
soup2.prettify()

In [7]:
# extract the IMDB’s Top rated 100 movie’s data.

titles=[]
tbody= soup2.tbody
for i in tbody.find_all('a'):
    titles.append(i.text.replace(' \n',''))
    
titles

['',
 'The Shawshank Redemption',
 '',
 'The Godfather',
 '',
 'The Godfather: Part II',
 '',
 'The Dark Knight',
 '',
 '12 Angry Men',
 '',
 "Schindler's List",
 '',
 'The Lord of the Rings: The Return of the King',
 '',
 'Pulp Fiction',
 '',
 'Il buono, il brutto, il cattivo',
 '',
 'The Lord of the Rings: The Fellowship of the Ring',
 '',
 'Fight Club',
 '',
 'Forrest Gump',
 '',
 'Inception',
 '',
 'The Lord of the Rings: The Two Towers',
 '',
 'Star Wars: Episode V - The Empire Strikes Back',
 '',
 'The Matrix',
 '',
 'Goodfellas',
 '',
 "One Flew Over the Cuckoo's Nest",
 '',
 'Shichinin no samurai',
 '',
 'Se7en',
 '',
 'La vita è bella',
 '',
 'Cidade de Deus',
 '',
 'The Silence of the Lambs',
 '',
 "It's a Wonderful Life",
 '',
 'Saving Private Ryan',
 '',
 'Star Wars',
 '',
 'The Green Mile',
 '',
 'Sen to Chihiro no kamikakushi',
 '',
 'Interstellar',
 '',
 'Gisaengchung',
 '',
 'Léon',
 '',
 'Seppuku',
 '',
 'The Lion King',
 '',
 'The Usual Suspects',
 '',
 'The Pianist',
 '',
 'Terminator 2: Judgment Day',
 '',
 'Back to the Future',
 '',
 'American History X',
 '',
 'Modern Times',
 '',
 'Gladiator',
 '',
 'Psycho',
 '',
 'The Departed',
 '',
 'City Lights',
 '',
 'Whiplash',
 '',
 'The Intouchables',
 '',
 'Hotaru no haka',
 '',
 'The Prestige',
 '',
 'Once Upon a Time in the West',
 '',
 'Casablanca',
 '',
 'Nuovo Cinema Paradiso',
 '',
 'Rear Window',
 '',
 'Alien',
 '',
 'Apocalypse Now',
 '',
 'Memento',
 '',
 'The Great Dictator',
 '',
 'Raiders of the Lost Ark',
 '',
 'Django Unchained',
 '',
 'The Lives of Others',
 '',
 'Paths of Glory',
 '',
 'WALL·E',
 '',
 'Hamilton',
 '',
 'Joker',
 '',
 'The Shining',
 '',
 'Avengers: Infinity War',
 '',
 'Sunset Blvd.',
 '',
 'Witness for the Prosecution',
 '',
 'Spider-Man: Into the Spider-Verse',
 '',
 'Oldeuboi',
 '',
 'Mononoke-hime',
 '',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 '',
 'The Dark Knight Rises',
 '',
 'Once Upon a Time in America',
 '',
 'Kimi no na wa.',
 '',
 'Coco',
 '',
 'Aliens',
 '',
 'Avengers: Endgame',
 '',
 'Capharnaüm',
 '',
 'American Beauty',
 '',
 'Braveheart',
 '',
 'Tengoku to jigoku',
 '',
 'Toy Story',
 '',
 'Das Boot',
 '',
 '3 Idiots',
 '',
 'Amadeus',
 '',
 'Inglourious Basterds',
 '',
 'Good Will Hunting',
 '',
 'Star Wars: Episode VI - Return of the Jedi',
 '',
 'Taare Zameen Par',
 '',
 'Reservoir Dogs',
 '',
 '2001: A Space Odyssey',
 '',
 'Requiem for a Dream',
 '',
 'Jagten',
 '',
 'Vertigo',
 '',
 'M - Eine Stadt sucht einen Mörder',
 '',
 'Eternal Sunshine of the Spotless Mind',
 '',
 'Citizen Kane',
 '',
 'Dangal',
 '',
 'Idi i smotri',
 '',
 'The Kid',
 '',
 "Singin' in the Rain",
 '',
 'Ladri di biciclette',
 '',
 'Full Metal Jacket',
 '',
 'Ikiru',
 '',
 'Snatch',
 '',
 'North by Northwest',
 '',
 'Scarface',
 '',
 'A Clockwork Orange',
 '',
 'The Father',
 '',
 '1917',
 '',
 'Incendies',
 '',
 'Taxi Driver',
 '',
 'Jodaeiye Nader az Simin',
 '',
 'The Sting',
 '',
 'Toy Story 3',
 '',
 'Lawrence of Arabia',
 '',
 'Metropolis',
 '',
 'Amélie',
 '',
 'The Apartment',
 '',
 'Per qualche dollaro in più',
 '',
 'Double Indemnity',
 '',
 'To Kill a Mockingbird',
 '',
 'Up',
 '',
 'Indiana Jones and the Last Crusade',
 '',
 'Heat',
 '',
 'L.A. Confidential',
 '',
 'Green Book',
 '',
 'Die Hard',
 '',
 'Batman Begins',
 '',
 'Yojinbo',
 '',
 'Monty Python and the Holy Grail',
 '',
 'Rashomon',
 '',
 'Der Untergang',
 '',
 'Bacheha-Ye aseman',
 '',
 'Ran',
 '',
 'Unforgiven',
 '',
 'Some Like It Hot',
 '',
 'Hauru no ugoku shiro',
 '',
 'All About Eve',
 '',
 'Casino',
 '',
 'The Wolf of Wall Street',
 '',
 'A Beautiful Mind',
 '',
 'The Great Escape',
 '',
 "Pan's Labyrinth",
 '',
 'There Will Be Blood',
 '',
 'El secreto de sus ojos',
 '',
 'Judgment at Nuremberg',
 '',
 'Lock, Stock and Two Smoking Barrels',
 '',
 'Raging Bull',
 '',
 'Tonari no Totoro',
 '',
 'The Treasure of the Sierra Madre',
 '',
 'Dial M for Murder',
 '',
 'Shutter Island',
 '',
 'Three Billboards Outside Ebbing, Missouri',
 '',
 'The Gold Rush',
 '',
 'No Country for Old Men',
 '',
 'Chinatown',
 '',
 'Babam ve Oglum',
 '',
 'V for Vendetta',
 '',
 'The Thing',
 '',
 'Inside Out',
 '',
 'The Elephant Man',
 '',
 'The Sixth Sense',
 '',
 'Det sjunde inseglet',
 '',
 'Jurassic Park',
 '',
 'Warrior',
 '',
 'Klaus',
 '',
 'Trainspotting',
 '',
 'The Truman Show',
 '',
 'Gone with the Wind',
 '',
 'Finding Nemo',
 '',
 'Salinui chueok',
 '',
 'Stalker',
 '',
 'Kill Bill: Vol. 1',
 '',
 'Smultronstället',
 '',
 'Blade Runner',
 '',
 'Fargo',
 '',
 'The Bridge on the River Kwai',
 '',
 'Relatos salvajes',
 '',
 'Tôkyô monogatari',
 '',
 'Gran Torino',
 '',
 'Room',
 '',
 'The Third Man',
 '',
 'On the Waterfront',
 '',
 'The Deer Hunter',
 '',
 'In the Name of the Father',
 '',
 'Before Sunrise',
 '',
 'The Grand Budapest Hotel',
 '',
 'Mary and Max',
 '',
 'Catch Me If You Can',
 '',
 'Gone Girl',
 '',
 'Prisoners',
 '',
 'Hacksaw Ridge',
 '',
 'Persona',
 '',
 'Sherlock Jr.',
 '',
 'Andhadhun',
 '',
 'The Big Lebowski',
 '',
 'Barry Lyndon',
 '',
 'The General',
 '',
 'To Be or Not to Be',
 '',
 'Ford v Ferrari',
 '',
 'How to Train Your Dragon',
 '',
 '12 Years a Slave',
 '',
 'Eskiya',
 '',
 'Mr. Smith Goes to Washington',
 '',
 'Mad Max: Fury Road',
 '',
 'Höstsonaten',
 '',
 'Dead Poets Society',
 '',
 'Million Dollar Baby',
 '',
 'Harry Potter and the Deathly Hallows: Part 2',
 '',
 'Ben-Hur',
 '',
 'Stand by Me',
 '',
 'Network',
 '',
 "Hachi: A Dog's Tale",
 '',
 'Ah-ga-ssi',
 '',
 'Logan',
 '',
 'Cool Hand Luke',
 '',
 'Platoon',
 '',
 'La haine',
 '',
 'Rush',
 '',
 'Into the Wild',
 '',
 'Le salaire de la peur',
 '',
 'Anand',
 '',
 'Les quatre cents coups',
 '',
 'Life of Brian',
 '',
 "La passion de Jeanne d'Arc",
 '',
 'Spotlight',
 '',
 'Gangs of Wasseypur',
 '',
 'Hotel Rwanda',
 '',
 'Amores perros',
 '',
 'Monsters, Inc.',
 '',
 'Rocky',
 '',
 'Andrei Rublev',
 '',
 'Kaze no tani no Naushika',
 '',
 'Rebecca',
 '',
 'Soul',
 '',
 'Before Sunset',
 '',
 'Fa yeung nin wah',
 '',
 'Rang De Basanti',
 '',
 'Dom za vesanje',
 '',
 'Paris, Texas',
 '',
 'Du rififi chez les hommes',
 '',
 'Mandariinid',
 '',
 'Portrait de la jeune fille en feu',
 '',
 'It Happened One Night',
 '',
 'Drishyam',
 '',
 'Koe no katachi',
 '',
 'La battaglia di Algeri',
 '',
 'Miracle in Cell No. 7',
 '',
 'Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni',
 '',
 'Trois couleurs: Rouge']

In [8]:
for i in titles:
    titles.remove('')

titles

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Fight Club',
 'Forrest Gump',
 'Inception',
 'The Lord of the Rings: The Two Towers',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Matrix',
 'Goodfellas',
 "One Flew Over the Cuckoo's Nest",
 'Shichinin no samurai',
 'Se7en',
 'La vita è bella',
 'Cidade de Deus',
 'The Silence of the Lambs',
 "It's a Wonderful Life",
 'Saving Private Ryan',
 'Star Wars',
 'The Green Mile',
 'Sen to Chihiro no kamikakushi',
 'Interstellar',
 'Gisaengchung',
 'Léon',
 'Seppuku',
 'The Lion King',
 'The Usual Suspects',
 'The Pianist',
 'Terminator 2: Judgment Day',
 'Back to the Future',
 'American History X',
 'Modern Times',
 'Gladiator',
 'Psycho',
 'The Departed',
 'City Lights',
 'Whiplash',
 'The Intouchables',
 'Hotaru no haka',
 'The Prestige',
 'Once Upon a Time in the West',
 'Casablanca',
 'Nuovo Cinema Paradiso',
 'Rear Window',
 'Alien',
 'Apocalypse Now',
 'Memento',
 'The Great Dictator',
 'Raiders of the Lost Ark',
 'Django Unchained',
 'The Lives of Others',
 'Paths of Glory',
 'WALL·E',
 'Hamilton',
 'Joker',
 'The Shining',
 'Avengers: Infinity War',
 'Sunset Blvd.',
 'Witness for the Prosecution',
 'Spider-Man: Into the Spider-Verse',
 'Oldeuboi',
 'Mononoke-hime',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Kimi no na wa.',
 'Coco',
 'Aliens',
 'Avengers: Endgame',
 'Capharnaüm',
 'American Beauty',
 'Braveheart',
 'Tengoku to jigoku',
 'Toy Story',
 'Das Boot',
 '3 Idiots',
 'Amadeus',
 'Inglourious Basterds',
 'Good Will Hunting',
 'Star Wars: Episode VI - Return of the Jedi',
 'Taare Zameen Par',
 'Reservoir Dogs',
 '2001: A Space Odyssey',
 'Requiem for a Dream',
 'Jagten',
 'Vertigo',
 'M - Eine Stadt sucht einen Mörder',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Dangal',
 'Idi i smotri',
 'The Kid',
 "Singin' in the Rain",
 'Ladri di biciclette',
 'Full Metal Jacket',
 'Ikiru',
 'Snatch',
 'North by Northwest',
 'Scarface',
 'A Clockwork Orange',
 'The Father',
 '1917',
 'Incendies',
 'Taxi Driver',
 'Jodaeiye Nader az Simin',
 'The Sting',
 'Toy Story 3',
 'Lawrence of Arabia',
 'Metropolis',
 'Amélie',
 'The Apartment',
 'Per qualche dollaro in più',
 'Double Indemnity',
 'To Kill a Mockingbird',
 'Up',
 'Indiana Jones and the Last Crusade',
 'Heat',
 'L.A. Confidential',
 'Green Book',
 'Die Hard',
 'Batman Begins',
 'Yojinbo',
 'Monty Python and the Holy Grail',
 'Rashomon',
 'Der Untergang',
 'Bacheha-Ye aseman',
 'Ran',
 'Unforgiven',
 'Some Like It Hot',
 'Hauru no ugoku shiro',
 'All About Eve',
 'Casino',
 'The Wolf of Wall Street',
 'A Beautiful Mind',
 'The Great Escape',
 "Pan's Labyrinth",
 'There Will Be Blood',
 'El secreto de sus ojos',
 'Judgment at Nuremberg',
 'Lock, Stock and Two Smoking Barrels',
 'Raging Bull',
 'Tonari no Totoro',
 'The Treasure of the Sierra Madre',
 'Dial M for Murder',
 'Shutter Island',
 'Three Billboards Outside Ebbing, Missouri',
 'The Gold Rush',
 'No Country for Old Men',
 'Chinatown',
 'Babam ve Oglum',
 'V for Vendetta',
 'The Thing',
 'Inside Out',
 'The Elephant Man',
 'The Sixth Sense',
 'Det sjunde inseglet',
 'Jurassic Park',
 'Warrior',
 'Klaus',
 'Trainspotting',
 'The Truman Show',
 'Gone with the Wind',
 'Finding Nemo',
 'Salinui chueok',
 'Stalker',
 'Kill Bill: Vol. 1',
 'Smultronstället',
 'Blade Runner',
 'Fargo',
 'The Bridge on the River Kwai',
 'Relatos salvajes',
 'Tôkyô monogatari',
 'Gran Torino',
 'Room',
 'The Third Man',
 'On the Waterfront',
 'The Deer Hunter',
 'In the Name of the Father',
 'Before Sunrise',
 'The Grand Budapest Hotel',
 'Mary and Max',
 'Catch Me If You Can',
 'Gone Girl',
 'Prisoners',
 'Hacksaw Ridge',
 'Persona',
 'Sherlock Jr.',
 'Andhadhun',
 'The Big Lebowski',
 'Barry Lyndon',
 'The General',
 'To Be or Not to Be',
 'Ford v Ferrari',
 'How to Train Your Dragon',
 '12 Years a Slave',
 'Eskiya',
 'Mr. Smith Goes to Washington',
 'Mad Max: Fury Road',
 'Höstsonaten',
 'Dead Poets Society',
 'Million Dollar Baby',
 'Harry Potter and the Deathly Hallows: Part 2',
 'Ben-Hur',
 'Stand by Me',
 'Network',
 "Hachi: A Dog's Tale",
 'Ah-ga-ssi',
 'Logan',
 'Cool Hand Luke',
 'Platoon',
 'La haine',
 'Rush',
 'Into the Wild',
 'Le salaire de la peur',
 'Anand',
 'Les quatre cents coups',
 'Life of Brian',
 "La passion de Jeanne d'Arc",
 'Spotlight',
 'Gangs of Wasseypur',
 'Hotel Rwanda',
 'Amores perros',
 'Monsters, Inc.',
 'Rocky',
 'Andrei Rublev',
 'Kaze no tani no Naushika',
 'Rebecca',
 'Soul',
 'Before Sunset',
 'Fa yeung nin wah',
 'Rang De Basanti',
 'Dom za vesanje',
 'Paris, Texas',
 'Du rififi chez les hommes',
 'Mandariinid',
 'Portrait de la jeune fille en feu',
 'It Happened One Night',
 'Drishyam',
 'Koe no katachi',
 'La battaglia di Algeri',
 'Miracle in Cell No. 7',
 'Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni',
 'Trois couleurs: Rouge']

In [10]:
title_list= titles[0:100]
title_list

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Fight Club',
 'Forrest Gump',
 'Inception',
 'The Lord of the Rings: The Two Towers',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Matrix',
 'Goodfellas',
 "One Flew Over the Cuckoo's Nest",
 'Shichinin no samurai',
 'Se7en',
 'La vita è bella',
 'Cidade de Deus',
 'The Silence of the Lambs',
 "It's a Wonderful Life",
 'Saving Private Ryan',
 'Star Wars',
 'The Green Mile',
 'Sen to Chihiro no kamikakushi',
 'Interstellar',
 'Gisaengchung',
 'Léon',
 'Seppuku',
 'The Lion King',
 'The Usual Suspects',
 'The Pianist',
 'Terminator 2: Judgment Day',
 'Back to the Future',
 'American History X',
 'Modern Times',
 'Gladiator',
 'Psycho',
 'The Departed',
 'City Lights',
 'Whiplash',
 'The Intouchables',
 'Hotaru no haka',
 'The Prestige',
 'Once Upon a Time in the West',
 'Casablanca',
 'Nuovo Cinema Paradiso',
 'Rear Window',
 'Alien',
 'Apocalypse Now',
 'Memento',
 'The Great Dictator',
 'Raiders of the Lost Ark',
 'Django Unchained',
 'The Lives of Others',
 'Paths of Glory',
 'WALL·E',
 'Hamilton',
 'Joker',
 'The Shining',
 'Avengers: Infinity War',
 'Sunset Blvd.',
 'Witness for the Prosecution',
 'Spider-Man: Into the Spider-Verse',
 'Oldeuboi',
 'Mononoke-hime',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Kimi no na wa.',
 'Coco',
 'Aliens',
 'Avengers: Endgame',
 'Capharnaüm',
 'American Beauty',
 'Braveheart',
 'Tengoku to jigoku',
 'Toy Story',
 'Das Boot',
 '3 Idiots',
 'Amadeus',
 'Inglourious Basterds',
 'Good Will Hunting',
 'Star Wars: Episode VI - Return of the Jedi',
 'Taare Zameen Par',
 'Reservoir Dogs',
 '2001: A Space Odyssey',
 'Requiem for a Dream',
 'Jagten',
 'Vertigo',
 'M - Eine Stadt sucht einen Mörder',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Dangal',
 'Idi i smotri',
 'The Kid',
 "Singin' in the Rain"]

In [11]:
# Extracting year of movie relese.

year= soup2.find_all('span', class_='secondaryInfo' )
year

[<span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1972)</span>,
 <span class="secondaryInfo">(1974)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1966)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(1980)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1990)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(1954)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(1991)</span>,
 <span class="secondaryInfo">(1946)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(1977)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1962)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(1991)</span>,
 <span class="secondaryInfo">(1985)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(1936)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1960)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(1931)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(1968)</span>,
 <span class="secondaryInfo">(1942)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(1954)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1940)</span>,
 <span class="secondaryInfo">(1981)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1980)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1950)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(1964)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1984)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(1986)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1963)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1981)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1984)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(1983)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(1968)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1958)</span>,
 <span class="secondaryInfo">(1931)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1941)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1985)</span>,
 <span class="secondaryInfo">(1921)</span>,
 <span class="secondaryInfo">(1952)</span>,
 <span class="secondaryInfo">(1948)</span>,
 <span class="secondaryInfo">(1987)</span>,
 <span class="secondaryInfo">(1952)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(1983)</span>,
 <span class="secondaryInfo">(1971)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(1976)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(1973)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(1962)</span>,
 <span class="secondaryInfo">(1927)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(1960)</span>,
 <span class="secondaryInfo">(1965)</span>,
 <span class="secondaryInfo">(1944)</span>,
 <span class="secondaryInfo">(1962)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1989)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1961)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(1950)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(1985)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1950)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(1963)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1961)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(1980)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(1948)</span>,
 <span class="secondaryInfo">(1954)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(1925)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(1974)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1982)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1980)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(1939)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1982)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1953)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1949)</span>,
 <span class="secondaryInfo">(1954)</span>,
 <span class="secondaryInfo">(1978)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1966)</span>,
 <span class="secondaryInfo">(1924)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(1926)</span>,
 <span class="secondaryInfo">(1942)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(1939)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1978)</span>,
 <span class="secondaryInfo">(1989)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(1986)</span>,
 <span class="secondaryInfo">(1976)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(1967)</span>,
 <span class="secondaryInfo">(1986)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(1953)</span>,
 <span class="secondaryInfo">(1971)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(1928)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(1976)</span>,
 <span class="secondaryInfo">(1966)</span>,
 <span class="secondaryInfo">(1984)</span>,
 <span class="secondaryInfo">(1940)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(1984)</span>,
 <span class="secondaryInfo">(1955)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1934)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1966)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(1994)</span>]

In [13]:
years=[]
for i in year:
    years.append(i.text)

year_list= years[0:100]
year_list

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1954)',
 '(1995)',
 '(1997)',
 '(2002)',
 '(1991)',
 '(1946)',
 '(1998)',
 '(1977)',
 '(1999)',
 '(2001)',
 '(2014)',
 '(2019)',
 '(1994)',
 '(1962)',
 '(1994)',
 '(1995)',
 '(2002)',
 '(1991)',
 '(1985)',
 '(1998)',
 '(1936)',
 '(2000)',
 '(1960)',
 '(2006)',
 '(1931)',
 '(2014)',
 '(2011)',
 '(1988)',
 '(2006)',
 '(1968)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1979)',
 '(1979)',
 '(2000)',
 '(1940)',
 '(1981)',
 '(2012)',
 '(2006)',
 '(1957)',
 '(2008)',
 '(2020)',
 '(2019)',
 '(1980)',
 '(2018)',
 '(1950)',
 '(1957)',
 '(2018)',
 '(2003)',
 '(1997)',
 '(1964)',
 '(2012)',
 '(1984)',
 '(2016)',
 '(2017)',
 '(1986)',
 '(2019)',
 '(2018)',
 '(1999)',
 '(1995)',
 '(1963)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(1984)',
 '(2009)',
 '(1997)',
 '(1983)',
 '(2007)',
 '(1992)',
 '(1968)',
 '(2000)',
 '(2012)',
 '(1958)',
 '(1931)',
 '(2004)',
 '(1941)',
 '(2016)',
 '(1985)',
 '(1921)',
 '(1952)']

In [14]:
# Extracting ratings of movies.

rate= soup2.find_all('td', class_='ratingColumn imdbRating' )
rate

[<td class="ratingColumn imdbRating">
 <strong title="9.2 based on 2,384,498 user ratings">9.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.1 based on 1,652,566 user ratings">9.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 1,149,888 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 2,347,962 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 704,057 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,232,952 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,668,051 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,857,194 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 698,626 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,688,541 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,886,437 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,844,811 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 2,106,219 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,508,418 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,175,846 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,705,257 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,039,505 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 931,196 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 320,604 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,472,264 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 634,922 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 707,952 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,294,317 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 411,582 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,258,494 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,247,900 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,169,794 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 667,757 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,550,809 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 599,081 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,053,158 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 44,618 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 958,633 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,005,067 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 745,934 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,008,389 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,077,988 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,047,377 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 222,054 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,362,369 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 613,918 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,209,505 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 170,709 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 735,443 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 775,995 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 241,859 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,211,646 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 307,176 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 529,354 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 235,626 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 450,801 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 800,658 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 615,849 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,141,883 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 206,382 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 895,242 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,384,382 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 364,481 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 181,479 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,016,142 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 63,379 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 989,721 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 914,521 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 871,231 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 204,882 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 111,500 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 396,160 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 525,142 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 351,255 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 456,404 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,540,637 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 317,275 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 206,556 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 402,394 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 661,329 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 865,101 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 67,952 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,082,672 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 970,962 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 36,338 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 902,073 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 235,089 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 351,884 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 374,123 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,293,254 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 877,014 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 963,728 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 173,353 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 933,153 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 612,912 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 778,289 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 290,759 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 370,374 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 145,987 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 924,756 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 411,226 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 161,610 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 62,166 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 115,930 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 222,545 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 149,531 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 684,654 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 70,311 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 792,518 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 303,238 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 755,497 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 768,192 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 49,184 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 456,213 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 154,637 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 738,761 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 224,439 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 244,814 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 767,904 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 272,044 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 162,459 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 712,262 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 167,267 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 236,379 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 145,894 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 297,100 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 950,664 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 700,625 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 588,168 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 539,296 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 400,809 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 802,739 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,328,876 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 113,377 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 506,562 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 155,361 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 335,453 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 67,134 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 115,012 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 381,442 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 247,503 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 343,437 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 122,362 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 474,681 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,218,396 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 862,225 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 227,907 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 626,370 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 527,606 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 196,473 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 70,919 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 542,747 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 326,558 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 299,070 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 115,957 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 161,160 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,155,254 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 447,072 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 102,987 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 873,801 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 299,513 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 80,653 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,046,090 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 377,400 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 630,674 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 223,667 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 921,947 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 168,547 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 881,976 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 441,443 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 111,496 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 642,260 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 958,864 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 293,981 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 962,407 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 146,433 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 119,903 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,016,060 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 98,496 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 703,634 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 627,291 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 206,283 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 181,326 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 54,761 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 728,638 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 380,290 user ratings">8.1</strong>
 </td>,

In [18]:
rating=[]
for i in rate:
    rating.append(i.text.replace('\n',''))

rate_list= rating[0:100]
rate_list

['9.2',
 '9.1',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2']

Now we create a dataframe using all the data.

In [24]:
x= {'Title':title_list,'Year of relese': year_list, 'Rating': rate_list}
x

{'Title': ['The Shawshank Redemption',
  'The Godfather',
  'The Godfather: Part II',
  'The Dark Knight',
  '12 Angry Men',
  "Schindler's List",
  'The Lord of the Rings: The Return of the King',
  'Pulp Fiction',
  'Il buono, il brutto, il cattivo',
  'The Lord of the Rings: The Fellowship of the Ring',
  'Fight Club',
  'Forrest Gump',
  'Inception',
  'The Lord of the Rings: The Two Towers',
  'Star Wars: Episode V - The Empire Strikes Back',
  'The Matrix',
  'Goodfellas',
  "One Flew Over the Cuckoo's Nest",
  'Shichinin no samurai',
  'Se7en',
  'La vita è bella',
  'Cidade de Deus',
  'The Silence of the Lambs',
  "It's a Wonderful Life",
  'Saving Private Ryan',
  'Star Wars',
  'The Green Mile',
  'Sen to Chihiro no kamikakushi',
  'Interstellar',
  'Gisaengchung',
  'Léon',
  'Seppuku',
  'The Lion King',
  'The Usual Suspects',
  'The Pianist',
  'Terminator 2: Judgment Day',
  'Back to the Future',
  'American History X',
  'Modern Times',
  'Gladiator',
  'Psycho',
  'The Departed',
  'City Lights',
  'Whiplash',
  'The Intouchables',
  'Hotaru no haka',
  'The Prestige',
  'Once Upon a Time in the West',
  'Casablanca',
  'Nuovo Cinema Paradiso',
  'Rear Window',
  'Alien',
  'Apocalypse Now',
  'Memento',
  'The Great Dictator',
  'Raiders of the Lost Ark',
  'Django Unchained',
  'The Lives of Others',
  'Paths of Glory',
  'WALL·E',
  'Hamilton',
  'Joker',
  'The Shining',
  'Avengers: Infinity War',
  'Sunset Blvd.',
  'Witness for the Prosecution',
  'Spider-Man: Into the Spider-Verse',
  'Oldeuboi',
  'Mononoke-hime',
  'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
  'The Dark Knight Rises',
  'Once Upon a Time in America',
  'Kimi no na wa.',
  'Coco',
  'Aliens',
  'Avengers: Endgame',
  'Capharnaüm',
  'American Beauty',
  'Braveheart',
  'Tengoku to jigoku',
  'Toy Story',
  'Das Boot',
  '3 Idiots',
  'Amadeus',
  'Inglourious Basterds',
  'Good Will Hunting',
  'Star Wars: Episode VI - Return of the Jedi',
  'Taare Zameen Par',
  'Reservoir Dogs',
  '2001: A Space Odyssey',
  'Requiem for a Dream',
  'Jagten',
  'Vertigo',
  'M - Eine Stadt sucht einen Mörder',
  'Eternal Sunshine of the Spotless Mind',
  'Citizen Kane',
  'Dangal',
  'Idi i smotri',
  'The Kid',
  "Singin' in the Rain"],
 'Year of relese': ['(1994)',
  '(1972)',
  '(1974)',
  '(2008)',
  '(1957)',
  '(1993)',
  '(2003)',
  '(1994)',
  '(1966)',
  '(2001)',
  '(1999)',
  '(1994)',
  '(2010)',
  '(2002)',
  '(1980)',
  '(1999)',
  '(1990)',
  '(1975)',
  '(1954)',
  '(1995)',
  '(1997)',
  '(2002)',
  '(1991)',
  '(1946)',
  '(1998)',
  '(1977)',
  '(1999)',
  '(2001)',
  '(2014)',
  '(2019)',
  '(1994)',
  '(1962)',
  '(1994)',
  '(1995)',
  '(2002)',
  '(1991)',
  '(1985)',
  '(1998)',
  '(1936)',
  '(2000)',
  '(1960)',
  '(2006)',
  '(1931)',
  '(2014)',
  '(2011)',
  '(1988)',
  '(2006)',
  '(1968)',
  '(1942)',
  '(1988)',
  '(1954)',
  '(1979)',
  '(1979)',
  '(2000)',
  '(1940)',
  '(1981)',
  '(2012)',
  '(2006)',
  '(1957)',
  '(2008)',
  '(2020)',
  '(2019)',
  '(1980)',
  '(2018)',
  '(1950)',
  '(1957)',
  '(2018)',
  '(2003)',
  '(1997)',
  '(1964)',
  '(2012)',
  '(1984)',
  '(2016)',
  '(2017)',
  '(1986)',
  '(2019)',
  '(2018)',
  '(1999)',
  '(1995)',
  '(1963)',
  '(1995)',
  '(1981)',
  '(2009)',
  '(1984)',
  '(2009)',
  '(1997)',
  '(1983)',
  '(2007)',
  '(1992)',
  '(1968)',
  '(2000)',
  '(2012)',
  '(1958)',
  '(1931)',
  '(2004)',
  '(1941)',
  '(2016)',
  '(1985)',
  '(1921)',
  '(1952)'],
 'Rating': ['9.2',
  '9.1',
  '9.0',
  '9.0',
  '8.9',
  '8.9',
  '8.9',
  '8.8',
  '8.8',
  '8.8',
  '8.8',
  '8.8',
  '8.7',
  '8.7',
  '8.7',
  '8.6',
  '8.6',
  '8.6',
  '8.6',
  '8.6',
  '8.6',
  '8.6',
  '8.6',
  '8.6',
  '8.6',
  '8.6',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.5',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.4',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.3',
  '8.2',
  '8.2',
  '8.2']}

In [3]:
import pandas as pd
df= pd.DataFrame(x)

In [26]:
df

                       Title Year of relese Rating
0   The Shawshank Redemption         (1994)    9.2
1              The Godfather         (1972)    9.1
2     The Godfather: Part II         (1974)    9.0
3            The Dark Knight         (2008)    9.0
4               12 Angry Men         (1957)    8.9
..                       ...            ...    ...
95              Citizen Kane         (1941)    8.3
96                    Dangal         (2016)    8.3
97              Idi i smotri         (1985)    8.2
98                   The Kid         (1921)    8.2
99       Singin' in the Rain         (1952)    8.2

[100 rows x 3 columns]

In [27]:
# Saving the data as csv.

df.to_csv('top_movies.csv', index= False)

# Task 3

 Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e.
   Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [30]:
# sending request.

page3= requests.get('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2e9dfa9b-3e4d-4d39-acd2-8af11f252a59&pf_rd_r=JJCPY1G6YWQYFBTBSQRJ&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1')
page3

In [32]:
# The structured and indentated content.

soup3= BeautifulSoup(page3.content)
soup3.prettify()

In [32]:
# Extracting thr movie titles.

titles=[]
tbody= soup3.tbody
for i in tbody.find_all('a'):
    titles.append(i.text.replace(' \n',''))
    
titles

['',
 'Pather Panchali',
 '',
 'Gol Maal',
 '',
 'Nayakan',
 '',
 'Anbe Sivam',
 '',
 'Apur Sansar',
 '',
 'Pariyerum Perumal',
 '',
 'Natsamrat',
 '',
 'Drishyam 2',
 '',
 'Kireedam',
 '',
 'Manichitrathazhu',
 '',
 'Black Friday',
 '',
 'Thevar Magan',
 '',
 '96',
 '',
 'Kumbalangi Nights',
 '',
 '3 Idiots',
 '',
 'Taare Zameen Par',
 '',
 'Visaaranai',
 '',
 'Dangal',
 '',
 'Ratsasan',
 '',
 'Thalapathi',
 '',
 'Aparajito',
 '',
 'Jaane Bhi Do Yaaro',
 '',
 'Pyaasa',
 '',
 'Guide',
 '',
 'Jersey',
 '',
 'Kannathil Muthamittal',
 '',
 'Asuran',
 '',
 'Chupke Chupke',
 '',
 'Kaithi',
 '',
 'Thani Oruvan',
 '',
 'Anand',
 '',
 'Vada Chennai',
 '',
 'Peranbu',
 '',
 'Drishyam',
 '',
 'Iruvar',
 '',
 'Vikram Vedha',
 '',
 'Soorarai Pottru',
 '',
 'Aruvi',
 '',
 'Khosla Ka Ghosla!',
 '',
 'Super Deluxe',
 '',
 'Agent Sai Srinivasa Athreya',
 '',
 'Mahanati',
 '',
 'Tumbbad',
 '',
 'Andhadhun',
 '',
 'Premam',
 '',
 'Kaakkaa Muttai',
 '',
 'Satya',
 '',
 'Shahid',
 '',
 'Dhuruvangal Pathinaaru',
 '',
 'Bangalore Days',
 '',
 'Anniyan',
 '',
 'Mudhalvan',
 '',
 'Papanasam',
 '',
 'Soodhu Kavvum',
 '',
 'Gangs of Wasseypur',
 '',
 'Jigarthanda',
 '',
 'Bhaag Milkha Bhaag',
 '',
 'Sairat',
 '',
 'Paan Singh Tomar',
 '',
 'Sholay',
 '',
 'Talvar',
 '',
 'Swades: We, the People',
 '',
 'Hera Pheri',
 '',
 'Drishyam',
 '',
 'Nil Battey Sannata',
 '',
 'Pithamagan',
 '',
 'Charulata',
 '',
 'Chak De! India',
 '',
 'Black',
 '',
 'Mughal-E-Azam',
 '',
 'Jo Jeeta Wohi Sikandar',
 '',
 'Udaan',
 '',
 'Ustad Hotel',
 '',
 'Zindagi Na Milegi Dobara',
 '',
 'Article 15',
 '',
 'Queen',
 '',
 'A Wednesday',
 '',
 'Rang De Basanti',
 '',
 'Munna Bhai M.B.B.S.',
 '',
 'Dil Chahta Hai',
 '',
 'Maheshinte Prathikaaram',
 '',
 'Sarfarosh',
 '',
 'Masaan',
 '',
 'Andaz Apna Apna',
 '',
 'OMG: Oh My God!',
 '',
 'Roja',
 '',
 'Alai Payuthey',
 '',
 'Lagaan: Once Upon a Time in India',
 '',
 'Baasha',
 '',
 'Kahaani',
 '',
 'Theeran adhigaaram ondru',
 '',
 'PK',
 '',
 'Iqbal',
 '',
 'Lucia',
 '',
 'Uri: The Surgical Strike',
 '',
 'The Legend of Bhagat Singh',
 '',
 'Barfi!',
 '',
 'Pink',
 '',
 'Bommarillu',
 '',
 'Bombay',
 '',
 'Maqbool',
 '',
 'Omkara',
 '',
 'Section 375',
 '',
 'Lage Raho Munna Bhai',
 '',
 'Chhichhore',
 '',
 'Indian',
 '',
 'Deewaar',
 '',
 'Dilwale Dulhania Le Jayenge',
 '',
 'Baahubali 2: The Conclusion',
 '',
 'Gulaal',
 '',
 'Padosan',
 '',
 'Pelli Choopulu',
 '',
 'Haider',
 '',
 'Naduvula Konjam Pakkatha Kaanom',
 '',
 'Athadu',
 '',
 'Mother India',
 '',
 'Ugly',
 '',
 'Thadam',
 '',
 'Take Off',
 '',
 'Gully Boy',
 '',
 'Padayappa',
 '',
 'Rangasthalam',
 '',
 'Special Chabbis',
 '',
 'Ship of Theseus',
 '',
 'Dev.D',
 '',
 'Aadukalam',
 '',
 'Badhaai ho',
 '',
 'Jalsaghar',
 '',
 'Ulidavaru Kandanthe',
 '',
 'Bajrangi Bhaijaan',
 '',
 'Vaastav: The Reality',
 '',
 'Vedam',
 '',
 'Vaaranam Aayiram',
 '',
 'Company',
 '',
 'Ankhon Dekhi',
 '',
 'Arjun Reddy',
 '',
 'Mukkabaaz',
 '',
 'K.G.F: Chapter 1',
 '',
 'Manjhi: The Mountain Man',
 '',
 'Pizza',
 '',
 'My Name Is Khan',
 '',
 'Kal Ho Naa Ho',
 '',
 'Jab We Met',
 '',
 'Mumbai Police',
 '',
 'Memories',
 '',
 'Dil Bechara',
 '',
 'Angamaly Diaries',
 '',
 'Unnaipol Oruvan',
 '',
 'Border',
 '',
 'Padman',
 '',
 'Lakshya',
 '',
 'Charlie',
 '',
 'Dor',
 '',
 'Kaakha..Kaakha: The Police',
 '',
 'Vettaiyaadu Vilaiyaadu',
 '',
 'Super 30',
 '',
 'Bãhubali: The Beginning',
 '',
 'Airlift',
 '',
 'Baby',
 '',
 'Hey Ram',
 '',
 'English Vinglish',
 '',
 'Okkadu',
 '',
 'Gangaajal',
 '',
 'Hindi Medium',
 '',
 'Manam',
 '',
 'The Lunchbox',
 '',
 'Johnny Gaddaar',
 '',
 'Ab Tak Chhappan',
 '',
 'Karnan',
 '',
 'Secret Superstar',
 '',
 'Badla',
 '',
 'Sonchiriya',
 '',
 'Pokiri',
 '',
 'Mr. India',
 '',
 'Nayak: The Real Hero',
 '',
 'Vicky Donor',
 '',
 'Raazi',
 '',
 'Udta Punjab',
 '',
 'Don',
 '',
 'Stanley Ka Dabba',
 '',
 'RangiTaranga',
 '',
 'Rock On!!',
 '',
 'Veer-Zaara',
 '',
 'Dasvidaniya',
 '',
 'Aligarh',
 '',
 'Guru',
 '',
 'Samsara',
 '',
 'Goodachari',
 '',
 'Arya',
 '',
 'Velaiilla Pattadhari',
 '',
 'M.S. Dhoni: The Untold Story',
 '',
 'Oye Lucky! Lucky Oye!',
 '',
 'Mumbai Meri Jaan',
 '',
 'Kai po che!',
 '',
 'Rockstar',
 '',
 'Kapoor & Sons',
 '',
 'Eega',
 '',
 'Kabhi Haan Kabhi Naa',
 '',
 '24',
 '',
 'Darr',
 '',
 'Newton',
 '',
 'Aamir',
 '',
 'Ugramm',
 '',
 'Earth',
 '',
 'Avane Srimannarayana',
 '',
 'Agneepath',
 '',
 'Madras Cafe',
 '',
 'Sarkar',
 '',
 'Pyaar Ka Punchnama',
 '',
 'Neerja',
 '',
 'The Tashkent Files',
 '',
 'Bheja Fry',
 '',
 'Thuppakki',
 '',
 'Highway',
 '',
 'Detective Byomkesh Bakshy!',
 '',
 'Magadheera',
 '',
 'Baazigar',
 '',
 'Manorama: Six Feet Under',
 '',
 'Kaththi',
 '',
 'Tanu Weds Manu Returns',
 '',
 'Saala Khadoos',
 '',
 'Wake Up Sid',
 '',
 '1 - Nenokkadine',
 '',
 'Piku',
 '',
 'Kannum Kannum Kollaiyadithaal',
 '',
 'Kuch Kuch Hota Hai',
 '',
 'Sanju',
 '',
 'Dhruva',
 '',
 'Delhi Belly',
 '',
 'Nerkonda Paarvai',
 '',
 'Jodhaa Akbar',
 '',
 'Ludo',
 '',
 'Devdas',
 '',
 'Parmanu: The Story of Pokhran',
 '',
 'Stree',
 '',
 'Trapped',
 '',
 'Geetha Govindam',
 '',
 'Raanjhanaa',
 '',
 'Dil Se..',
 '',
 'Hungama',
 '',
 'Ek Hasina Thi',
 '',
 'Lootcase',
 '',
 'Bhavesh Joshi Superhero',
 '',
 'Rocket Singh: Salesman of the Year',
 '',
 'Rehnaa Hai Terre Dil Mein',
 '',
 'Madaari',
 '',
 'Jolly LLB',
 '',
 'The Ghazi Attack',
 '',
 'Ghilli',
 '',
 'Do Dooni Chaar']

In [33]:
for i in titles:
    titles.remove('')
titles

['Pather Panchali',
 'Gol Maal',
 'Nayakan',
 'Anbe Sivam',
 'Apur Sansar',
 'Pariyerum Perumal',
 'Natsamrat',
 'Drishyam 2',
 'Kireedam',
 'Manichitrathazhu',
 'Black Friday',
 'Thevar Magan',
 '96',
 'Kumbalangi Nights',
 '3 Idiots',
 'Taare Zameen Par',
 'Visaaranai',
 'Dangal',
 'Ratsasan',
 'Thalapathi',
 'Aparajito',
 'Jaane Bhi Do Yaaro',
 'Pyaasa',
 'Guide',
 'Jersey',
 'Kannathil Muthamittal',
 'Asuran',
 'Chupke Chupke',
 'Kaithi',
 'Thani Oruvan',
 'Anand',
 'Vada Chennai',
 'Peranbu',
 'Drishyam',
 'Iruvar',
 'Vikram Vedha',
 'Soorarai Pottru',
 'Aruvi',
 'Khosla Ka Ghosla!',
 'Super Deluxe',
 'Agent Sai Srinivasa Athreya',
 'Mahanati',
 'Tumbbad',
 'Andhadhun',
 'Premam',
 'Kaakkaa Muttai',
 'Satya',
 'Shahid',
 'Dhuruvangal Pathinaaru',
 'Bangalore Days',
 'Anniyan',
 'Mudhalvan',
 'Papanasam',
 'Soodhu Kavvum',
 'Gangs of Wasseypur',
 'Jigarthanda',
 'Bhaag Milkha Bhaag',
 'Sairat',
 'Paan Singh Tomar',
 'Sholay',
 'Talvar',
 'Swades: We, the People',
 'Hera Pheri',
 'Drishyam',
 'Nil Battey Sannata',
 'Pithamagan',
 'Charulata',
 'Chak De! India',
 'Black',
 'Mughal-E-Azam',
 'Jo Jeeta Wohi Sikandar',
 'Udaan',
 'Ustad Hotel',
 'Zindagi Na Milegi Dobara',
 'Article 15',
 'Queen',
 'A Wednesday',
 'Rang De Basanti',
 'Munna Bhai M.B.B.S.',
 'Dil Chahta Hai',
 'Maheshinte Prathikaaram',
 'Sarfarosh',
 'Masaan',
 'Andaz Apna Apna',
 'OMG: Oh My God!',
 'Roja',
 'Alai Payuthey',
 'Lagaan: Once Upon a Time in India',
 'Baasha',
 'Kahaani',
 'Theeran adhigaaram ondru',
 'PK',
 'Iqbal',
 'Lucia',
 'Uri: The Surgical Strike',
 'The Legend of Bhagat Singh',
 'Barfi!',
 'Pink',
 'Bommarillu',
 'Bombay',
 'Maqbool',
 'Omkara',
 'Section 375',
 'Lage Raho Munna Bhai',
 'Chhichhore',
 'Indian',
 'Deewaar',
 'Dilwale Dulhania Le Jayenge',
 'Baahubali 2: The Conclusion',
 'Gulaal',
 'Padosan',
 'Pelli Choopulu',
 'Haider',
 'Naduvula Konjam Pakkatha Kaanom',
 'Athadu',
 'Mother India',
 'Ugly',
 'Thadam',
 'Take Off',
 'Gully Boy',
 'Padayappa',
 'Rangasthalam',
 'Special Chabbis',
 'Ship of Theseus',
 'Dev.D',
 'Aadukalam',
 'Badhaai ho',
 'Jalsaghar',
 'Ulidavaru Kandanthe',
 'Bajrangi Bhaijaan',
 'Vaastav: The Reality',
 'Vedam',
 'Vaaranam Aayiram',
 'Company',
 'Ankhon Dekhi',
 'Arjun Reddy',
 'Mukkabaaz',
 'K.G.F: Chapter 1',
 'Manjhi: The Mountain Man',
 'Pizza',
 'My Name Is Khan',
 'Kal Ho Naa Ho',
 'Jab We Met',
 'Mumbai Police',
 'Memories',
 'Dil Bechara',
 'Angamaly Diaries',
 'Unnaipol Oruvan',
 'Border',
 'Padman',
 'Lakshya',
 'Charlie',
 'Dor',
 'Kaakha..Kaakha: The Police',
 'Vettaiyaadu Vilaiyaadu',
 'Super 30',
 'Bãhubali: The Beginning',
 'Airlift',
 'Baby',
 'Hey Ram',
 'English Vinglish',
 'Okkadu',
 'Gangaajal',
 'Hindi Medium',
 'Manam',
 'The Lunchbox',
 'Johnny Gaddaar',
 'Ab Tak Chhappan',
 'Karnan',
 'Secret Superstar',
 'Badla',
 'Sonchiriya',
 'Pokiri',
 'Mr. India',
 'Nayak: The Real Hero',
 'Vicky Donor',
 'Raazi',
 'Udta Punjab',
 'Don',
 'Stanley Ka Dabba',
 'RangiTaranga',
 'Rock On!!',
 'Veer-Zaara',
 'Dasvidaniya',
 'Aligarh',
 'Guru',
 'Samsara',
 'Goodachari',
 'Arya',
 'Velaiilla Pattadhari',
 'M.S. Dhoni: The Untold Story',
 'Oye Lucky! Lucky Oye!',
 'Mumbai Meri Jaan',
 'Kai po che!',
 'Rockstar',
 'Kapoor & Sons',
 'Eega',
 'Kabhi Haan Kabhi Naa',
 '24',
 'Darr',
 'Newton',
 'Aamir',
 'Ugramm',
 'Earth',
 'Avane Srimannarayana',
 'Agneepath',
 'Madras Cafe',
 'Sarkar',
 'Pyaar Ka Punchnama',
 'Neerja',
 'The Tashkent Files',
 'Bheja Fry',
 'Thuppakki',
 'Highway',
 'Detective Byomkesh Bakshy!',
 'Magadheera',
 'Baazigar',
 'Manorama: Six Feet Under',
 'Kaththi',
 'Tanu Weds Manu Returns',
 'Saala Khadoos',
 'Wake Up Sid',
 '1 - Nenokkadine',
 'Piku',
 'Kannum Kannum Kollaiyadithaal',
 'Kuch Kuch Hota Hai',
 'Sanju',
 'Dhruva',
 'Delhi Belly',
 'Nerkonda Paarvai',
 'Jodhaa Akbar',
 'Ludo',
 'Devdas',
 'Parmanu: The Story of Pokhran',
 'Stree',
 'Trapped',
 'Geetha Govindam',
 'Raanjhanaa',
 'Dil Se..',
 'Hungama',
 'Ek Hasina Thi',
 'Lootcase',
 'Bhavesh Joshi Superhero',
 'Rocket Singh: Salesman of the Year',
 'Rehnaa Hai Terre Dil Mein',
 'Madaari',
 'Jolly LLB',
 'The Ghazi Attack',
 'Ghilli',
 'Do Dooni Chaar']

In [36]:
title_list_india= titles[0:100]
title_list_india

['Pather Panchali',
 'Gol Maal',
 'Nayakan',
 'Anbe Sivam',
 'Apur Sansar',
 'Pariyerum Perumal',
 'Natsamrat',
 'Drishyam 2',
 'Kireedam',
 'Manichitrathazhu',
 'Black Friday',
 'Thevar Magan',
 '96',
 'Kumbalangi Nights',
 '3 Idiots',
 'Taare Zameen Par',
 'Visaaranai',
 'Dangal',
 'Ratsasan',
 'Thalapathi',
 'Aparajito',
 'Jaane Bhi Do Yaaro',
 'Pyaasa',
 'Guide',
 'Jersey',
 'Kannathil Muthamittal',
 'Asuran',
 'Chupke Chupke',
 'Kaithi',
 'Thani Oruvan',
 'Anand',
 'Vada Chennai',
 'Peranbu',
 'Drishyam',
 'Iruvar',
 'Vikram Vedha',
 'Soorarai Pottru',
 'Aruvi',
 'Khosla Ka Ghosla!',
 'Super Deluxe',
 'Agent Sai Srinivasa Athreya',
 'Mahanati',
 'Tumbbad',
 'Andhadhun',
 'Premam',
 'Kaakkaa Muttai',
 'Satya',
 'Shahid',
 'Dhuruvangal Pathinaaru',
 'Bangalore Days',
 'Anniyan',
 'Mudhalvan',
 'Papanasam',
 'Soodhu Kavvum',
 'Gangs of Wasseypur',
 'Jigarthanda',
 'Bhaag Milkha Bhaag',
 'Sairat',
 'Paan Singh Tomar',
 'Sholay',
 'Talvar',
 'Swades: We, the People',
 'Hera Pheri',
 'Drishyam',
 'Nil Battey Sannata',
 'Pithamagan',
 'Charulata',
 'Chak De! India',
 'Black',
 'Mughal-E-Azam',
 'Jo Jeeta Wohi Sikandar',
 'Udaan',
 'Ustad Hotel',
 'Zindagi Na Milegi Dobara',
 'Article 15',
 'Queen',
 'A Wednesday',
 'Rang De Basanti',
 'Munna Bhai M.B.B.S.',
 'Dil Chahta Hai',
 'Maheshinte Prathikaaram',
 'Sarfarosh',
 'Masaan',
 'Andaz Apna Apna',
 'OMG: Oh My God!',
 'Roja',
 'Alai Payuthey',
 'Lagaan: Once Upon a Time in India',
 'Baasha',
 'Kahaani',
 'Theeran adhigaaram ondru',
 'PK',
 'Iqbal',
 'Lucia',
 'Uri: The Surgical Strike',
 'The Legend of Bhagat Singh',
 'Barfi!',
 'Pink',
 'Bommarillu',
 'Bombay']

In [37]:
# extracting the relese year.

year= soup3.find_all('span', class_='secondaryInfo')
year

[<span class="secondaryInfo">(1955)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(1987)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(1989)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1991)</span>,
 <span class="secondaryInfo">(1956)</span>,
 <span class="secondaryInfo">(1983)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1965)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1971)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1964)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1960)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1968)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1958)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(1987)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1978)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1990)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2010)</span>]

In [38]:
years=[]
for i in year:
    years.append(i.text.replace('\n',''))
    
year_list= years[0:100]
year_list

['(1955)',
 '(1979)',
 '(1987)',
 '(2003)',
 '(1959)',
 '(2018)',
 '(2016)',
 '(2021)',
 '(1989)',
 '(1993)',
 '(2004)',
 '(1992)',
 '(2018)',
 '(2019)',
 '(2009)',
 '(2007)',
 '(2015)',
 '(2016)',
 '(2018)',
 '(1991)',
 '(1956)',
 '(1983)',
 '(1957)',
 '(1965)',
 '(2019)',
 '(2002)',
 '(2019)',
 '(1975)',
 '(2019)',
 '(2015)',
 '(1971)',
 '(2018)',
 '(2018)',
 '(2013)',
 '(1997)',
 '(2017)',
 '(2020)',
 '(2016)',
 '(2006)',
 '(2019)',
 '(2019)',
 '(2018)',
 '(2018)',
 '(2018)',
 '(2015)',
 '(2014)',
 '(1998)',
 '(2012)',
 '(2016)',
 '(2014)',
 '(2005)',
 '(1999)',
 '(2015)',
 '(2013)',
 '(2012)',
 '(2014)',
 '(2013)',
 '(2016)',
 '(2012)',
 '(1975)',
 '(2015)',
 '(2004)',
 '(2000)',
 '(2015)',
 '(2015)',
 '(2003)',
 '(1964)',
 '(2007)',
 '(2005)',
 '(1960)',
 '(1992)',
 '(2010)',
 '(2012)',
 '(2011)',
 '(2019)',
 '(2013)',
 '(2008)',
 '(2006)',
 '(2003)',
 '(2001)',
 '(2016)',
 '(1999)',
 '(2015)',
 '(1994)',
 '(2012)',
 '(1992)',
 '(2000)',
 '(2001)',
 '(1995)',
 '(2012)',
 '(2017)',
 '(2014)',
 '(2005)',
 '(2013)',
 '(2018)',
 '(2002)',
 '(2012)',
 '(2016)',
 '(2006)',
 '(1995)']

In [41]:
# Extracting movie ratings

rating= soup3.find_all('td',class_='ratingColumn imdbRating')
rating

[<td class="ratingColumn imdbRating">
 <strong title="8.5 based on 24,268 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 18,195 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 16,862 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 17,473 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 12,431 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 9,682 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 5,511 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 23,223 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 6,413 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 9,077 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 19,172 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 5,750 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 20,728 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 9,978 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 351,884 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 173,353 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 8,219 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 161,610 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 27,942 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 10,466 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 12,006 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 13,343 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 5,687 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 7,536 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 9,397 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 7,673 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 13,603 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 11,789 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 13,743 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 17,206 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 31,412 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 11,909 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 13,247 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 34,868 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,133 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 29,862 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 59,325 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 11,376 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 22,482 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 10,599 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 8,933 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 10,152 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 29,914 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 75,351 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 17,672 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,920 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 13,662 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 15,442 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 13,057 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 17,044 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 15,102 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,719 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,243 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 9,255 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 84,334 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 10,495 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 61,845 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 11,580 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 33,669 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 51,890 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 31,728 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 84,128 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 58,177 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 73,006 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,883 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,510 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,292 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 74,997 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 33,612 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,427 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 21,908 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 42,792 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,112 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 69,153 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 24,605 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 61,331 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 74,481 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 113,601 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 74,891 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 67,512 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,158 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 24,186 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 24,370 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 49,784 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 52,526 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 11,951 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,520 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 106,234 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 9,116 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 58,456 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 10,884 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 165,875 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 16,025 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 11,587 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 44,494 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 15,024 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 76,635 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 40,139 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 8,747 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 11,585 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 9,813 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 19,412 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,467 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 43,623 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 35,594 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 11,041 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 10,241 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 64,267 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 76,818 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 14,092 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,337 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,150 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 50,936 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,105 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,287 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 8,683 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 20,462 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,200 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,039 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 32,914 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,907 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 19,476 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 51,633 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,821 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 29,034 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,014 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 28,746 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,310 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,907 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 73,516 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 12,831 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,151 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 10,443 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 14,655 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 10,429 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 21,662 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,713 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 38,874 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 17,978 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,076 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 99,652 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 64,172 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 48,356 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,014 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,281 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 113,419 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,097 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,311 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 14,109 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 21,959 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 21,074 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 8,374 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,735 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,107 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 6,825 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 21,868 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 104,539 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 53,304 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 53,297 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 11,680 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 34,023 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 8,660 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 15,942 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 23,997 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 10,134 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 51,472 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 11,678 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 8,282 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 6,065 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 21,401 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 23,200 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 8,955 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 12,885 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 14,287 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 14,629 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 40,122 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 25,972 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 27,585 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 11,447 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 6,381 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 12,602 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 21,032 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 49,632 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">

In [43]:
ratings=[]
for i in rating:
    ratings.append(i.text.replace('\n',''))
    
rating_list= ratings[0:100]
rating_list

['8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [48]:
y= {'Title':title_list_india,'Year of relese': year_list, 'Rating': rating_list}
df2= pd.DataFrame(y)
df2

                         Title Year of relese Rating
0              Pather Panchali         (1955)    8.5
1                     Gol Maal         (1979)    8.5
2                      Nayakan         (1987)    8.5
3                   Anbe Sivam         (2003)    8.5
4                  Apur Sansar         (1959)    8.5
..                         ...            ...    ...
95  The Legend of Bhagat Singh         (2002)    8.0
96                      Barfi!         (2012)    8.0
97                        Pink         (2016)    8.0
98                  Bommarillu         (2006)    8.0
99                      Bombay         (1995)    8.0

[100 rows x 3 columns]

In [49]:
# Saving the data as csv.

df2.to_csv('top_movies_indian.csv', index= False)

# Task 4

Write a python program to scrap book name, author name, genre and book review of
   any 5 books from ‘www.bookpage.com’

In [5]:
page4= requests.get('https://bookpage.com/reviews')
page4

In [33]:
soup4= BeautifulSoup(page4.content)
soup4.prettify()

In [7]:
# Extracting book names

name= soup4.find_all('h4', class_='italic')
name

[<h4 class="italic">
 <a href="/reviews/26211-annette-gordon-reed-juneteenth-history"> <span style="font-style:normal;">★ </span>On Juneteenth</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26242-remy-lai-pawcasso-childrens">Pawcasso</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26198-chanel-cleeton-most-beautiful-girl-cuba-fiction">The Most Beautiful Girl in Cuba</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26164-sean-flynn-why-peacocks-nonfiction">Why Peacocks?</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26197-laura-dave-last-thing-he-told-me-fiction">The Last Thing He Told Me</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26215-danielle-dreilinger-secret-history-home-economics-history">The Secret History of Home Economics</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26306-trent-preszler-little-often-nonfiction">Little and Often</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26315-casey-wilson-wreckage-my-presence-nonfiction">The Wreckage of My Presence</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26173-joan-silber-secrets-happiness-fiction"> <span style="font-style:normal;">★ </span>Secrets of Happiness</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26194-stacey-swann-olympus-texas-fiction">Olympus, Texas</a>
 </h4>]

In [8]:
names=[]
for i in name:
    names.append(i.text.replace('\n',''))
book_titles= names[0:5]
book_titles

[' ★ On Juneteenth',
 'Pawcasso',
 'The Most Beautiful Girl in Cuba',
 'Why Peacocks?',
 'The Last Thing He Told Me']

In [9]:
# Extracting book genre

genre= soup4.find_all('p', class_='genre-links hidden-phone')
genre

[<p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=history">History</a>
  /
 <a href="/search?book_genre=american_history">American History</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=children_s">Children's</a>
  /
 <a href="/search?book_genre=middle_grade">Middle Grade</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=historical_fiction">Historical Fiction</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=science_nature">Science &amp; Nature</a>
  /
 <a href="/search?book_genre=animals">Animals</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=family_drama">Family Drama</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=history">History</a>
  /
 <a href="/search?book_genre=women_s_history">Women's History</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=memoir">Memoir</a>
  /
 <a href="/search?book_genre=family_relationships">Family &amp; Relationships</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=essays">Essays</a>
  /
 <a href="/search?book_genre=humor">Humor</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=family_drama">Family Drama</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=family_drama">Family Drama</a>
 </p>]

In [10]:
genres=[]
for i in genre:
    genres.append(i.text.replace('\n',''))
book_genre= genres[0:5]
book_genre

['Nonfiction / History / American History',
 "Children's / Middle Grade",
 'Fiction / Historical Fiction',
 'Nonfiction / Science & Nature / Animals',
 'Fiction / Family Drama']

In [11]:
# Extracting book author names

author= soup4.find_all('p', class_='sans bold')
author

[<p class="sans bold">
 Annette Gordon-Reed
 </p>,
 <p class="sans bold">
 Remy Lai
 </p>,
 <p class="sans bold">
 Chanel Cleeton
 </p>,
 <p class="sans bold">
 Sean Flynn
 </p>,
 <p class="sans bold">
 Laura Dave
 </p>,
 <p class="sans bold">
 Danielle Dreilinger
 </p>,
 <p class="sans bold">
 Trent Preszler
 </p>,
 <p class="sans bold">
 Casey Wilson
 </p>,
 <p class="sans bold">
 Joan Silber
 </p>,
 <p class="sans bold">
 Stacey Swann
 </p>]

In [12]:
authors=[]
for i in author:
    authors.append(i.text.replace('\n',''))
book_author= authors[0:5]
book_author

['Annette Gordon-Reed',
 'Remy Lai',
 'Chanel Cleeton',
 'Sean Flynn',
 'Laura Dave']

In [13]:
# Extracting book reviews

rev= soup4.find_all('p', class_='excerpt')
rev

[<p class="excerpt">
 Gordon-Reed’s essays seamlessly merge history, memoir and family history into a complex portrait of her beloved, turbulent Texas.
 </p>,
 <p class="excerpt">
 </p>,
 <p class="excerpt">
 Chanel Cleeton delivers a sweeping story of love and courage, as well as a sobering reminder of the power and responsibility of the media.
 </p>,
 <p class="excerpt">
 Have you ever thought, <em>What my household needs is a few peacocks?</em> Me neither. But that didn’t stop me from enjoying this entertaining, sweet and often funny book.
 </p>,
 <p class="excerpt">
 Laura Dave has given us what we crave right now—a thoroughly engrossing yet comforting distraction.
 </p>,
 <p class="excerpt">
 Whatever stereotypes we associate with home economics, Danielle Dreilinger is here to assure us that everything we think we know is wrong.
 </p>,
 <p class="excerpt">
 This lucid, lyrical memoir recalls father-son episodes in South Dakota, with its biblical weather, rattlesnakes, long horseback rides and rodeos.
 </p>,
 <p class="excerpt">
 <strong>The Wreckage of My Presence</strong> is funny and bold, occasionally manic or melancholy, and always hilarious and heartfelt. Fans will turn the last page wanting more.
 </p>,
 <p class="excerpt">
 Rarely is a novel of moral ideas so buoyant in spirit or so exquisitely crafted.
 </p>,
 <p class="excerpt">
 A man’s return to his Texas hometown sets off a chain of events as tragic as any caused by the mythological gods.
 </p>]

In [14]:
reviews=[]
for i in rev:
    reviews.append(i.text.replace('\n',''))
book_review= reviews[0:5]
book_review

['Gordon-Reed’s essays seamlessly merge history, memoir and family history into a complex portrait of her beloved, turbulent Texas.',
 '',
 'Chanel Cleeton delivers a sweeping story of love and courage, as well as a sobering reminder of the power and responsibility of the media.',
 'Have you ever thought, What my household needs is a few peacocks? Me neither. But that didn’t stop me from enjoying this entertaining, sweet and often funny book.',
 'Laura Dave has given us what we crave right now—a thoroughly engrossing yet comforting distraction.']

We can see 1 review is missing. They do not belong to the tag used having class name 'excerpt'.

In [15]:
# lets check all the p tags inside div tag.

z=[]
div= soup4.div
for i in div.find_all('p'):
    z.append(i.text.replace('\n',''))
    
z

['Home\xa0',
 'Annette Gordon-Reed',
 'Nonfiction / History / American History',
 'Gordon-Reed’s essays seamlessly merge history, memoir and family history into a complex portrait of her beloved, turbulent Texas.',
 'Remy Lai',
 "Children's / Middle Grade",
 '',
 'Pawcasso is a joyful graphic novel from acclaimed author-illustrator Remy Lai (Pie in the Sky) that abounds with silliness, camaraderie and a few white lies.',
 'Chanel Cleeton',
 'Fiction / Historical Fiction',
 'Chanel Cleeton delivers a sweeping story of love and courage, as well as a sobering reminder of the power and responsibility of the media.',
 'Sean Flynn',
 'Nonfiction / Science & Nature / Animals',
 'Have you ever thought, What my household needs is a few peacocks? Me neither. But that didn’t stop me from enjoying this entertaining, sweet and often funny book.',
 'Laura Dave',
 'Fiction / Family Drama',
 'Laura Dave has given us what we crave right now—a thoroughly engrossing yet comforting distraction.',
 'Danielle Dreilinger',
 "Nonfiction / History / Women's History",
 'Whatever stereotypes we associate with home economics, Danielle Dreilinger is here to assure us that everything we think we know is wrong.',
 'Trent Preszler',
 'Nonfiction / Memoir / Family & Relationships',
 'This lucid, lyrical memoir recalls father-son episodes in South Dakota, with its biblical weather, rattlesnakes, long horseback rides and rodeos.',
 'Casey Wilson',
 'Nonfiction / Essays / Humor',
 'The Wreckage of My Presence is funny and bold, occasionally manic or melancholy, and always hilarious and heartfelt. Fans will turn the last page wanting more.',
 'Joan Silber',
 'Fiction / Family Drama',
 'Rarely is a novel of moral ideas so buoyant in spirit or so exquisitely crafted.',
 'Stacey Swann',
 'Fiction / Family Drama',
 'A man’s return to his Texas hometown sets off a chain of events as tragic as any caused by the mythological gods.',
 'Genres ',
 'Sign up for our newsletters!']

Now we extract the required reviews of our books.

In [18]:
frst_rev=[z[3],z[7]]
frst_rev

['Gordon-Reed’s essays seamlessly merge history, memoir and family history into a complex portrait of her beloved, turbulent Texas.',
 'Pawcasso is a joyful graphic novel from acclaimed author-illustrator Remy Lai (Pie in the Sky) that abounds with silliness, camaraderie and a few white lies.']

In [19]:
last_rev=book_review[2:5]
last_rev

['Chanel Cleeton delivers a sweeping story of love and courage, as well as a sobering reminder of the power and responsibility of the media.',
 'Have you ever thought, What my household needs is a few peacocks? Me neither. But that didn’t stop me from enjoying this entertaining, sweet and often funny book.',
 'Laura Dave has given us what we crave right now—a thoroughly engrossing yet comforting distraction.']

In [20]:
# joining our first two and last three reviews.

all_book_review=frst_rev+last_rev
all_book_review

['Gordon-Reed’s essays seamlessly merge history, memoir and family history into a complex portrait of her beloved, turbulent Texas.',
 'Pawcasso is a joyful graphic novel from acclaimed author-illustrator Remy Lai (Pie in the Sky) that abounds with silliness, camaraderie and a few white lies.',
 'Chanel Cleeton delivers a sweeping story of love and courage, as well as a sobering reminder of the power and responsibility of the media.',
 'Have you ever thought, What my household needs is a few peacocks? Me neither. But that didn’t stop me from enjoying this entertaining, sweet and often funny book.',
 'Laura Dave has given us what we crave right now—a thoroughly engrossing yet comforting distraction.']

In [22]:
# Creating a data frame of the book data.

import pandas as pd
pd.set_option('display.max_colwidth',None)
book= {'Title':book_titles, 'Author': book_author, 'Genre': book_genre, 'Review': all_book_review}
df3= pd.DataFrame(book)
df3

,Title,Author,Genre,Review
0,★ On Juneteenth,Annette Gordon-Reed,Nonfiction / History / American History,"Gordon-Reed’s essays seamlessly merge history, memoir and family history into a complex portrait of her beloved, turbulent Texas."
1,Pawcasso,Remy Lai,Children's / Middle Grade,"Pawcasso is a joyful graphic novel from acclaimed author-illustrator Remy Lai (Pie in the Sky) that abounds with silliness, camaraderie and a few white lies."
2,The Most Beautiful Girl in Cuba,Chanel Cleeton,Fiction / Historical Fiction,"Chanel Cleeton delivers a sweeping story of love and courage, as well as a sobering reminder of the power and responsibility of the media."
3,Why Peacocks?,Sean Flynn,Nonfiction / Science & Nature / Animals,"Have you ever thought, What my household needs is a few peacocks? Me neither. But that didn’t stop me from enjoying this entertaining, sweet and often funny book."
4,The Last Thing He Told Me,Laura Dave,Fiction / Family Drama,Laura Dave has given us what we crave right now—a thoroughly engrossing yet comforting distraction.

# Task 5

Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You
   have to scrape:
   
    i) Top 10 ODI teams in men’s cricket along with the records for matches, points and
    rating.
    
    ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
    
    iii)Top 10 ODI bowlers along with the records of their team and rating.

In [2]:
# Sending request

page5= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page5

In [34]:
# Structured and indentated content

soup5= BeautifulSoup(page5.content)
soup5.prettify()

Extracting top odi teams data

In [110]:
team= soup5.find_all('span', class_='u-hide-phablet')
team

[<span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">Afghanistan</span>,
 <span class="u-hide-phablet">Netherlands</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="u-hide-phablet">Zimbabwe</span>,
 <span class="u-hide-phablet">Oman</span>,
 <span class="u-hide-phablet">Scotland</span>,
 <span class="u-hide-phablet">Nepal</span>,
 <span class="u-hide-phablet">UAE</span>,
 <span class="u-hide-phablet">Namibia</span>,
 <span class="u-hide-phablet">United States</span>,
 <span class="u-hide-phablet">Papua New Guinea</span>,
 <span class="icn icn-facebook-circle u-hide-phablet"></span>,
 <span class="icn icn-twitter-circle u-hide-phablet"></span>,
 <span class="icn icn-instagram-circle u-hide-phablet"></span>,
 <span class="icn icn-youtube-circle u-hide-phablet"></span>,
 <span class="icn icn-tiktok-circle u-hide-phablet"></span>]

In [112]:
teams=[]
for i in team:
    teams.append(i.text)
team_names= teams[0:10]
team_names

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [152]:
# Extracting matches

matches1= soup5.find_all('td', class_='rankings-block__banner--matches')
matches1

We have here in this tag only the no1 team. lets extract the rest

In [124]:
matches_rest = soup5.find_all('td',class_='table-body__cell u-center-text')
matches_rest

[<td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">2,945</td>,
 <td class="table-body__cell u-center-text">29</td>,
 <td class="table-body__cell u-center-text">3,344</td>,
 <td class="table-body__cell u-center-text">27</td>,
 <td class="table-body__cell u-center-text">3,100</td>,
 <td class="table-body__cell u-center-text">20</td>,
 <td class="table-body__cell u-center-text">2,137</td>,
 <td class="table-body__cell u-center-text">24</td>,
 <td class="table-body__cell u-center-text">2,323</td>,
 <td class="table-body__cell u-center-text">24</td>,
 <td class="table-body__cell u-center-text">2,157</td>,
 <td class="table-body__cell u-center-text">27</td>,
 <td class="table-body__cell u-center-text">2,222</td>,
 <td class="table-body__cell u-center-text">21</td>,
 <td class="table-body__cell u-center-text">1,652</td>,
 <td class="table-body__cell u-center-text">17</td>,
 <td class="table-body__cell u-center-text">1,054</td>,
 <td class="table-body__cell u-center-text">2</td>,
 <td class="table-body__cell u-center-text">99</td>,
 <td class="table-body__cell u-center-text">18</td>,
 <td class="table-body__cell u-center-text">818</td>,
 <td class="table-body__cell u-center-text">15</td>,
 <td class="table-body__cell u-center-text">588</td>,
 <td class="table-body__cell u-center-text">7</td>,
 <td class="table-body__cell u-center-text">240</td>,
 <td class="table-body__cell u-center-text">5</td>,
 <td class="table-body__cell u-center-text">148</td>,
 <td class="table-body__cell u-center-text">5</td>,
 <td class="table-body__cell u-center-text">119</td>,
 <td class="table-body__cell u-center-text">9</td>,
 <td class="table-body__cell u-center-text">190</td>,
 <td class="table-body__cell u-center-text">6</td>,
 <td class="table-body__cell u-center-text">97</td>,
 <td class="table-body__cell u-center-text">8</td>,
 <td class="table-body__cell u-center-text">93</td>,
 <td class="table-body__cell u-center-text">5</td>,
 <td class="table-body__cell u-center-text">0</td>]

Here we have matches as well as points of team from no 2 to the last.

In [135]:
matches_9= matches_rest[0:18:2]
matches_9

[<td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">29</td>,
 <td class="table-body__cell u-center-text">27</td>,
 <td class="table-body__cell u-center-text">20</td>,
 <td class="table-body__cell u-center-text">24</td>,
 <td class="table-body__cell u-center-text">24</td>,
 <td class="table-body__cell u-center-text">27</td>,
 <td class="table-body__cell u-center-text">21</td>,
 <td class="table-body__cell u-center-text">17</td>]

In [153]:
match1=[]
for i in matches1:
    match1.append(i.text)
match1

['17']

In [144]:
match9=[] 
for i in matches_9:
    match9.append(i.text)
match9

['25', '29', '27', '20', '24', '24', '27', '21', '17']

In [146]:
total_matches= match1+ match9
total_matches

['17', '25', '29', '27', '20', '24', '24', '27', '21', '17']

In [154]:
# Extracting points

In [155]:
point1= soup5.find_all('td', class_='rankings-block__banner--points')
point1

In [156]:
point1st=[]
for i in point1:
    point1st.append(i.text)
point1st

['2,054']

In [158]:
point_rem= matches_rest[1:18:2]
point_rem

[<td class="table-body__cell u-center-text">2,945</td>,
 <td class="table-body__cell u-center-text">3,344</td>,
 <td class="table-body__cell u-center-text">3,100</td>,
 <td class="table-body__cell u-center-text">2,137</td>,
 <td class="table-body__cell u-center-text">2,323</td>,
 <td class="table-body__cell u-center-text">2,157</td>,
 <td class="table-body__cell u-center-text">2,222</td>,
 <td class="table-body__cell u-center-text">1,652</td>,
 <td class="table-body__cell u-center-text">1,054</td>]

In [159]:
point_rest=[] 
for i in point_rem:
    point_rest.append(i.text)
point_rest

['2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,157',
 '2,222',
 '1,652',
 '1,054']

In [160]:
total_points= point1st+ point_rest
total_points

['2,054',
 '2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,157',
 '2,222',
 '1,652',
 '1,054']

In [161]:
# Extracting rating

In [187]:
rate1= soup5.find('td', class_='rankings-block__banner--rating u-text-right')
rate1

<td class="rankings-block__banner--rating u-text-right">
                            121
                            <span class="circle-branding circle-branding--top"></span>
<span class="circle-branding circle-branding--bottom"></span>
</td>

In [205]:
a= rate1.text.replace('\n                            ','')
a

'121\n\n'

In [215]:
b= a.replace('\n','')
rate_1st=[b]
rate_1st

['121']

In [208]:
rate_rest= soup5.find_all('td',class_='table-body__cell u-text-right rating')
rate_rest

[<td class="table-body__cell u-text-right rating">118</td>,
 <td class="table-body__cell u-text-right rating">115</td>,
 <td class="table-body__cell u-text-right rating">115</td>,
 <td class="table-body__cell u-text-right rating">107</td>,
 <td class="table-body__cell u-text-right rating">97</td>,
 <td class="table-body__cell u-text-right rating">90</td>,
 <td class="table-body__cell u-text-right rating">82</td>,
 <td class="table-body__cell u-text-right rating">79</td>,
 <td class="table-body__cell u-text-right rating">62</td>,
 <td class="table-body__cell u-text-right rating">50</td>,
 <td class="table-body__cell u-text-right rating">45</td>,
 <td class="table-body__cell u-text-right rating">39</td>,
 <td class="table-body__cell u-text-right rating">34</td>,
 <td class="table-body__cell u-text-right rating">30</td>,
 <td class="table-body__cell u-text-right rating">24</td>,
 <td class="table-body__cell u-text-right rating">21</td>,
 <td class="table-body__cell u-text-right rating">16</td>,
 <td class="table-body__cell u-text-right rating">12</td>,
 <td class="table-body__cell u-text-right rating">0</td>]

In [220]:
rating_rest=[]
for i in rate_rest:
    rating_rest.append(i.text)
rating_rest= rating_rest[0:9]
rating_rest

['118', '115', '115', '107', '97', '90', '82', '79', '62']

In [221]:
all_rate= rate_1st+ rating_rest
all_rate

['121', '118', '115', '115', '107', '97', '90', '82', '79', '62']

In [222]:
# Creating data frame of the top 10 odi teams.

odi= {'Team Name':team_names, 'Matches': total_matches, 'Points': total_points, 'Ranking': all_rate}
df4= pd.DataFrame(odi)
df4

      Team Name Matches Points Ranking
0   New Zealand      17  2,054     121
1     Australia      25  2,945     118
2         India      29  3,344     115
3       England      27  3,100     115
4  South Africa      20  2,137     107
5      Pakistan      24  2,323      97
6    Bangladesh      24  2,157      90
7   West Indies      27  2,222      82
8     Sri Lanka      21  1,652      79
9   Afghanistan      17  1,054      62

###  5(ii)  Extracting Top 10 ODI Batsmen in men along with the records of their team and rating.

In [5]:
page5b= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page5b

In [35]:
soup5b= BeautifulSoup(page5b.content)
soup5b.prettify()

In [10]:
men= soup5b.find_all('div', class_='rankings-block__banner--name-large')
men

In [11]:
men1=[]
for i in men:
    men1.append(i.text)
men1

['Babar Azam']

In [16]:
men_rest= soup5b.find_all('td', class_='table-body__cell rankings-table__name name')

rest_men=[]
for i in men_rest:
    rest_men.append(i.text.replace('\n',''))
rest_men= rest_men[0:9]
rest_men

['Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Francois du Plessis',
 'David Warner',
 'Shai Hope']

In [17]:
men_all= men1 + rest_men
men_all

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Francois du Plessis',
 'David Warner',
 'Shai Hope']

In [18]:
# Extracting nationality

In [28]:
nation= soup5b.find('div', class_='rankings-block__banner--nationality')
nation

<div class="rankings-block__banner--nationality">
<div class="flag-15 PAK"></div>
<span class="rankings-block__banner--nation"></span>PAK
                    </div>

In [34]:
p= nation.text.replace('                    ','')
q= p.replace('\n','')
nation1=[q]
nation1

['PAK']

In [36]:
nations= soup5b.find_all('span',class_='table-body__logo-text')
nations

[<span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">IRE</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">SCO</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">OMA</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">ZIM</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">ZIM</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">IRE</span>,
 <span class="table-body__logo-text">ZIM</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">SCO</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">IRE</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">SCO</span>,
 <span class="table-body__logo-text">IRE</span>,
 <span class="table-body__logo-text">UAE</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">ZIM</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">PNG</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">SCO</span>,
 <span class="table-body__logo-text">PNG</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">ENG</span>]

In [39]:
rest_nation=[]
for i in nations:
    rest_nation.append(i.text)
rest_nation= rest_nation[0:9]
rest_nation

['IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']

In [40]:
all_nation= nation1+rest_nation
all_nation

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']

In [41]:
# Extracting ratings

In [46]:
prate= soup5b.find('div',class_='rankings-block__banner--rating')
prate1=[prate.text]
prate1

['865']

In [49]:
prate_rest= soup5b.find_all('td',class_='table-body__cell rating')
rest_prate=[]
for i in prate_rest:
    rest_prate.append(i.text)
rest_prate= rest_prate[0:9]
rest_prate

['857', '825', '801', '791', '785', '778', '778', '773', '773']

In [50]:
pratings= prate1+rest_prate
pratings

['865', '857', '825', '801', '791', '785', '778', '778', '773', '773']

In [51]:
# Creating dataframe of the data extracted

In [53]:
import pandas as pd
menodi= {'Player Name':men_all, 'Team': all_nation, 'Rating': pratings}
df5= pd.DataFrame(menodi)
df5

           Player Name Team Rating
0           Babar Azam  PAK    865
1          Virat Kohli  IND    857
2         Rohit Sharma  IND    825
3          Ross Taylor   NZ    801
4          Aaron Finch  AUS    791
5       Jonny Bairstow  ENG    785
6         Fakhar Zaman  PAK    778
7  Francois du Plessis   SA    778
8         David Warner  AUS    773
9            Shai Hope   WI    773

### 5(iii)  Extracting top 10 ODI bowlers along with the records of their team and rating.

In [55]:
page5c= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page5c

In [36]:
soup5c= BeautifulSoup(page5c.content)
soup5c.prettify()

In [57]:
# Extracting player names

pname= soup5c.find_all('div',class_='rankings-block__banner--name-large')
pname

In [58]:
pname1=[]
for i in pname:
    pname1.append(i.text)
pname1

['Trent Boult']

In [60]:
rest_pname= soup5c.find_all('td',class_='table-body__cell rankings-table__name name')
rest_pname

[<td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/4572">Mujeeb Ur Rahman</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1505">Matt Henry</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1124">Jasprit Bumrah</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1597">Mehedi Hasan</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1664">Kagiso Rabada</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/967">Chris Woakes</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/857">Josh Hazlewood</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/488">Pat Cummins</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/2896">Mohammad Amir</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/4530">Shaheen Afridi</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/116">Bhuvneshwar Kumar</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3502">Jofra Archer</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/2885">Rashid Khan</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/958">Adam Zampa</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/201">Shakib Al Hasan</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3729">Lachlan Ferguson</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1594">Mustafizur Rahman</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/490">Mitchell Starc</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3746">Lungi Ngidi</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/588">Akila Dananjaya</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/618">Mohammad Nabi</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/2749">Mark Wood</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/111">Yuzvendra Chahal</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1903">Mitchell Santner</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/94">Mohammad Shami</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3098">Alzarri Joseph</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/261">Kuldeep Yadav</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/9">Ravindra Jadeja</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1309">Sheldon Cottrell</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1842">Liam Plunkett</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1365">Andy McBrine</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1258">Ahmed Raza</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/796">Adil Rashid</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3046">Shadab Khan</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/837">Dwaine Pretorius</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/820">Colin de Grandhomme</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1662">Andile Phehlukwayo</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/307">Tim Southee</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1304">Ish Sodhi</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/2760">Imad Wasim</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1097">Tendai Chatara</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1461">Usman Khan</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3781">Jhye Richardson</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1650">Mark Watt</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1735">Moeen Ali</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/524">Boyd Rankin</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/391">Mashrafe Mortaza</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/2915">Mohammad Mohammad Saifuddin</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1417">Safyaan Sharif</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/505">Nuwan Pradeep</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1215">Rohan Mustafa</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/2758">David Willey</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3325">Hasan Ali</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3309">Tabraiz Shamsi</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/840">Nathan Coulter-Nile</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/4208">Faheem Ashraf</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1075">Jason Holder</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/993">Suranga Lakmal</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/836">Chris Morris</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/797">Nathan Lyon</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/971">Jimmy Neesham</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/534">Kyle Jarvis</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/988">Wahab Riaz</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/981">Junaid Khan</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/4324">Simi Simi Singh</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1129">Sikandar Raza</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1154">Ben Stokes</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3082">Wanindu De Silva</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1146">Josh Davey</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/410">Kemar Roach</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/817">Dushmantha Chameera</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/612">Dawlat Zadran</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1102">Sean Williams</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/5433">Anrich Nortje</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/798">Kane Richardson</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1455">Aftab Alam</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1911">Yasir Shah</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/215">Thisara Perera</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1135">Rubel Hossain</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1745">Shardul Thakur</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/937">Jason Behrendorff</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/2740">Hardik Pandya</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/517">George Dockrell</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/613">Gulbadin Naib</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3313">Barry McCarthy</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/221">Mitchell Marsh</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3646">Tom Curran</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1898">Ashley Nurse</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/614">Hamid Hassan</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/4590">Blessing Muzarabani</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1295">Dhananjaya de Silva</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1904">Taijul Islam</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/964">Marcus Stoinis</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/935">Ashton Agar</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3195">Mohammad Nawaz</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1852">Donald Tiripano</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/3171">Bradley Wheal</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1185">Alasdair Evans</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1403">Assad Vala</a>
 </td>]

In [62]:
rest_pnames=[]
for i in rest_pname:
    rest_pnames.append(i.text.replace('\n',''))
rest_pnames= rest_pnames[0:9]
rest_pnames

['Mujeeb Ur Rahman',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mehedi Hasan',
 'Kagiso Rabada',
 'Chris Woakes',
 'Josh Hazlewood',
 'Pat Cummins',
 'Mohammad Amir']

In [63]:
all_players= pname1+rest_pnames
all_players

['Trent Boult',
 'Mujeeb Ur Rahman',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mehedi Hasan',
 'Kagiso Rabada',
 'Chris Woakes',
 'Josh Hazlewood',
 'Pat Cummins',
 'Mohammad Amir']

In [64]:
# Extracting team name

In [68]:
team1= soup5c.find('div',class_='rankings-block__banner--nationality')
team1.text

'\n\nNZ\n                    '

In [70]:
k= team1.text.replace('                    ','')
j= k.replace('\n','')
team1st=[j]
team1st

['NZ']

In [73]:
team_rest= soup5c.find_all('span',class_='table-body__logo-text')
team_rest

[<span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">IRE</span>,
 <span class="table-body__logo-text">UAE</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text"></span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">ZIM</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">SCO</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">IRE</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">SCO</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">UAE</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">ZIM</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">IRE</span>,
 <span class="table-body__logo-text">ZIM</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">SCO</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">ZIM</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">IRE</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">IRE</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">ZIM</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">ZIM</span>,
 <span class="table-body__logo-text">SCO</span>,
 <span class="table-body__logo-text">SCO</span>,
 <span class="table-body__logo-text">PNG</span>]

In [74]:
rest_teams=[]
for i in team_rest:
    rest_teams.append(i.text)
rest_teams= rest_teams[0:9]
rest_teams

['AFG', 'NZ', 'IND', 'BAN', 'SA', 'ENG', 'AUS', 'AUS', 'PAK']

In [76]:
teams_all= team1st+rest_teams
teams_all

['NZ', 'AFG', 'NZ', 'IND', 'BAN', 'SA', 'ENG', 'AUS', 'AUS', 'PAK']

In [77]:
ratep= soup5c.find_all('div',class_='rankings-block__banner--rating')
ratep

In [78]:
ratep1=[]
for i in ratep:
    ratep1.append(i.text)
ratep1

['737']

In [79]:
ratep_rest= soup5c.find_all('td',class_='table-body__cell rating')
ratep_rest

[<td class="table-body__cell rating">708</td>,
 <td class="table-body__cell rating">691</td>,
 <td class="table-body__cell rating">690</td>,
 <td class="table-body__cell rating">668</td>,
 <td class="table-body__cell rating">666</td>,
 <td class="table-body__cell rating">665</td>,
 <td class="table-body__cell rating">660</td>,
 <td class="table-body__cell rating">646</td>,
 <td class="table-body__cell rating">638</td>,
 <td class="table-body__cell rating">634</td>,
 <td class="table-body__cell rating">632</td>,
 <td class="table-body__cell rating">627</td>,
 <td class="table-body__cell rating">626</td>,
 <td class="table-body__cell rating">623</td>,
 <td class="table-body__cell rating">620</td>,
 <td class="table-body__cell rating">619</td>,
 <td class="table-body__cell rating">619</td>,
 <td class="table-body__cell rating">611</td>,
 <td class="table-body__cell rating">606</td>,
 <td class="table-body__cell rating">603</td>,
 <td class="table-body__cell rating">596</td>,
 <td class="table-body__cell rating">594</td>,
 <td class="table-body__cell rating">584</td>,
 <td class="table-body__cell rating">583</td>,
 <td class="table-body__cell rating">574</td>,
 <td class="table-body__cell rating">569</td>,
 <td class="table-body__cell rating">564</td>,
 <td class="table-body__cell rating">559</td>,
 <td class="table-body__cell rating">558</td>,
 <td class="table-body__cell rating">546</td>,
 <td class="table-body__cell rating">536</td>,
 <td class="table-body__cell rating">531</td>,
 <td class="table-body__cell rating">529</td>,
 <td class="table-body__cell rating">523</td>,
 <td class="table-body__cell rating">515</td>,
 <td class="table-body__cell rating">508</td>,
 <td class="table-body__cell rating">506</td>,
 <td class="table-body__cell rating">500</td>,
 <td class="table-body__cell rating">496</td>,
 <td class="table-body__cell rating">495</td>,
 <td class="table-body__cell rating">490</td>,
 <td class="table-body__cell rating">489</td>,
 <td class="table-body__cell rating">488</td>,
 <td class="table-body__cell rating">486</td>,
 <td class="table-body__cell rating">486</td>,
 <td class="table-body__cell rating">485</td>,
 <td class="table-body__cell rating">483</td>,
 <td class="table-body__cell rating">482</td>,
 <td class="table-body__cell rating">481</td>,
 <td class="table-body__cell rating">481</td>,
 <td class="table-body__cell rating">477</td>,
 <td class="table-body__cell rating">475</td>,
 <td class="table-body__cell rating">473</td>,
 <td class="table-body__cell rating">470</td>,
 <td class="table-body__cell rating">470</td>,
 <td class="table-body__cell rating">469</td>,
 <td class="table-body__cell rating">465</td>,
 <td class="table-body__cell rating">463</td>,
 <td class="table-body__cell rating">462</td>,
 <td class="table-body__cell rating">462</td>,
 <td class="table-body__cell rating">458</td>,
 <td class="table-body__cell rating">458</td>,
 <td class="table-body__cell rating">454</td>,
 <td class="table-body__cell rating">449</td>,
 <td class="table-body__cell rating">448</td>,
 <td class="table-body__cell rating">443</td>,
 <td class="table-body__cell rating">442</td>,
 <td class="table-body__cell rating">439</td>,
 <td class="table-body__cell rating">431</td>,
 <td class="table-body__cell rating">431</td>,
 <td class="table-body__cell rating">429</td>,
 <td class="table-body__cell rating">427</td>,
 <td class="table-body__cell rating">426</td>,
 <td class="table-body__cell rating">425</td>,
 <td class="table-body__cell rating">422</td>,
 <td class="table-body__cell rating">422</td>,
 <td class="table-body__cell rating">418</td>,
 <td class="table-body__cell rating">412</td>,
 <td class="table-body__cell rating">412</td>,
 <td class="table-body__cell rating">411</td>,
 <td class="table-body__cell rating">410</td>,
 <td class="table-body__cell rating">403</td>,
 <td class="table-body__cell rating">401</td>,
 <td class="table-body__cell rating">399</td>,
 <td class="table-body__cell rating">397</td>,
 <td class="table-body__cell rating">395</td>,
 <td class="table-body__cell rating">391</td>,
 <td class="table-body__cell rating">388</td>,
 <td class="table-body__cell rating">387</td>,
 <td class="table-body__cell rating">387</td>,
 <td class="table-body__cell rating">386</td>,
 <td class="table-body__cell rating">385</td>,
 <td class="table-body__cell rating">383</td>,
 <td class="table-body__cell rating">377</td>,
 <td class="table-body__cell rating">376</td>,
 <td class="table-body__cell rating">373</td>,
 <td class="table-body__cell rating">372</td>,
 <td class="table-body__cell rating">366</td>,
 <td class="table-body__cell rating">363</td>]

In [80]:
rest_prating=[]
for i in ratep_rest:
    rest_prating.append(i.text)
rest_prating= rest_prating[0:9]
rest_prating

['708', '691', '690', '668', '666', '665', '660', '646', '638']

In [82]:
all_ratings= ratep1+ rest_prating
all_ratings

['737', '708', '691', '690', '668', '666', '665', '660', '646', '638']

In [84]:
# Creating dataframe

bowlerodi= {'Player Name':all_players, 'Team': teams_all, 'Rating': all_ratings}
df5= pd.DataFrame(bowlerodi)
df5

        Player Name Team Rating
0       Trent Boult   NZ    737
1  Mujeeb Ur Rahman  AFG    708
2        Matt Henry   NZ    691
3    Jasprit Bumrah  IND    690
4      Mehedi Hasan  BAN    668
5     Kagiso Rabada   SA    666
6      Chris Woakes  ENG    665
7    Josh Hazlewood  AUS    660
8       Pat Cummins  AUS    646
9     Mohammad Amir  PAK    638

# Task 6

 Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You
   have to scrape:
   
    i) Top 10 ODI teams in women’s cricket along with the records for matches, points
    and rating.
    ii) Top 10 women’s ODI players along with the records of their team and rating.
    iii)Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [2]:
page6a= requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page6a

In [37]:
soup6a= BeautifulSoup(page6a.content)
soup6a.prettify()

In [6]:
# Extracting team names

tname= soup6a.find_all('span',class_='u-hide-phablet')
tname

[<span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="icn icn-facebook-circle u-hide-phablet"></span>,
 <span class="icn icn-twitter-circle u-hide-phablet"></span>,
 <span class="icn icn-instagram-circle u-hide-phablet"></span>,
 <span class="icn icn-youtube-circle u-hide-phablet"></span>,
 <span class="icn icn-tiktok-circle u-hide-phablet"></span>]

In [51]:
teams=[]
for i in tname:
    teams.append(i.text)
teams= teams[0:10]
teams

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [10]:
# extracting no of matches

matchf= soup6a.find_all('td',class_='rankings-block__banner--matches')
matchf

In [11]:
match1=[]
for i in matchf:
    match1.append(i.text)
match1

['18']

In [13]:
match_rest= soup6a.find_all('td',class_='table-body__cell u-center-text')
match_rest

[<td class="table-body__cell u-center-text">24</td>,
 <td class="table-body__cell u-center-text">2,828</td>,
 <td class="table-body__cell u-center-text">17</td>,
 <td class="table-body__cell u-center-text">1,993</td>,
 <td class="table-body__cell u-center-text">20</td>,
 <td class="table-body__cell u-center-text">2,226</td>,
 <td class="table-body__cell u-center-text">21</td>,
 <td class="table-body__cell u-center-text">1,947</td>,
 <td class="table-body__cell u-center-text">12</td>,
 <td class="table-body__cell u-center-text">1,025</td>,
 <td class="table-body__cell u-center-text">15</td>,
 <td class="table-body__cell u-center-text">1,101</td>,
 <td class="table-body__cell u-center-text">5</td>,
 <td class="table-body__cell u-center-text">306</td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">519</td>,
 <td class="table-body__cell u-center-text">2</td>,
 <td class="table-body__cell u-center-text">25</td>]

In [16]:
matches=[]
for i in match_rest:
    matches.append(i.text)
match_fem= matches[0:18:2]
match_fem

['24', '17', '20', '21', '12', '15', '5', '11', '2']

In [18]:
fem_matches= match1+ match_fem
fem_matches

['18', '24', '17', '20', '21', '12', '15', '5', '11', '2']

In [28]:
# Extracting points

pointf1= soup6a.find_all('td',class_='rankings-block__banner--points')
pointf1

In [29]:
pointsf1=[]
for i in pointf1:
    pointsf1.append(i.text)
pointsf1

['2,955']

In [33]:
points_rest=[]
for i in match_rest:
    points_rest.append(i.text)
points_rest= points_rest[1:18:2]
points_rest

['2,828', '1,993', '2,226', '1,947', '1,025', '1,101', '306', '519', '25']

In [34]:
points_fem= pointsf1 + points_rest
points_fem

['2,955',
 '2,828',
 '1,993',
 '2,226',
 '1,947',
 '1,025',
 '1,101',
 '306',
 '519',
 '25']

In [45]:
ratef1= soup6a.find('td',class_='rankings-block__banner--rating u-text-right')
ratef1

<td class="rankings-block__banner--rating u-text-right">
                            164
                            <span class="circle-branding circle-branding--top"></span>
<span class="circle-branding circle-branding--bottom"></span>
</td>

In [46]:
a= ratef1.text.replace('\n                            ','')
b= a.replace('\n','')
rate1st=[b]
rate1st

['164']

In [47]:
ratef_rest= soup6a.find_all('td',class_='table-body__cell u-text-right rating')
ratef_rest

[<td class="table-body__cell u-text-right rating">118</td>,
 <td class="table-body__cell u-text-right rating">117</td>,
 <td class="table-body__cell u-text-right rating">111</td>,
 <td class="table-body__cell u-text-right rating">93</td>,
 <td class="table-body__cell u-text-right rating">85</td>,
 <td class="table-body__cell u-text-right rating">73</td>,
 <td class="table-body__cell u-text-right rating">61</td>,
 <td class="table-body__cell u-text-right rating">47</td>,
 <td class="table-body__cell u-text-right rating">13</td>]

In [48]:
rest_rates=[]
for i in ratef_rest:
    rest_rates.append(i.text)
rest_rates

['118', '117', '111', '93', '85', '73', '61', '47', '13']

In [49]:
ratingsf= rate1st+ rest_rates
ratingsf

['164', '118', '117', '111', '93', '85', '73', '61', '47', '13']

In [53]:
# Creating dataframe using the data.
import pandas as pd
femodi= {'Team': teams, 'Matches': fem_matches,'Points': points_fem, 'Rating': ratingsf}
df6= pd.DataFrame(femodi)
df6

           Team Matches Points Rating
0     Australia      18  2,955    164
1  South Africa      24  2,828    118
2       England      17  1,993    117
3         India      20  2,226    111
4   New Zealand      21  1,947     93
5   West Indies      12  1,025     85
6      Pakistan      15  1,101     73
7    Bangladesh       5    306     61
8     Sri Lanka      11    519     47
9       Ireland       2     25     13

### Extracting top 10 women’s ODI players along with the records of their team and rating.

In [54]:
page6b= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page6b

In [38]:
soup6b= BeautifulSoup(page6b.content)
soup6b.prettify()

In [57]:
a= soup6b.find_all('div',class_='rankings-block__banner--name-large')
a

In [58]:
b=[]
for i in a:
    b.append(i.text)
b

['Tammy Beaumont']

In [59]:
c=soup6b.find_all('td',class_='table-body__cell rankings-table__name name')
c

[<td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1785">Lizelle Lee</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/466">Alyssa Healy</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/573">Stafanie Taylor</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/469">Meg Lanning</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/487">Amy Satterthwaite</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1809">Smriti Mandhana</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/558">Mithali Raj</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1800">Natalie Sciver</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3176">Laura Wolvaardt</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/471">Ellyse Perry</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/600">Chamari Athapaththu</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/552">Heather Knight</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/465">Rachael Haynes</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/559">Harmanpreet Kaur</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/417">Mignon du Preez</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1817">Beth Mooney</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/568">Poonam Raut</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/474">Suzie Bates</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/478">Sophie Devine</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3192">Deepti Sharma</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/424">Marizanne Kapp</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/635">Nahida Khan</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/806">Amy Jones</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/631">Javeria Khan</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/629">Bismah Maroof</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/430">Dane van Niekerk</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3126">Hayley Matthews</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1758">Nicole Bolton</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1824">Fargana Hoque</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/4128">Ashleigh Gardner</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1830">Rumana Ahmed</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1013">Chloe-Lesleigh Tryon</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/484">Katie Perkins</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3210">Aliya Riaz</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/557">Danielle Wyatt</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/428">Sune Luus</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3756">Amelia Kerr</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/468">Jess Jonassen</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/547">Katherine Brunt</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/636">Nida Dar</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/418">Trisha Chetty</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/482">Katey Martin</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3202">Harshitha Madavi</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/">Brooke Halliday</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1801">Fran Wilson</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/5051">Jemimah Rodriques</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1813">Shikha Pandey</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1790">Maddie Green</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/574">Shemaine Campbelle</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/607">Dilani Manodara</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3204">Nigar Sultana</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/5311">Umaima Sohail</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/5074">Priya Punia</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/4049">Lara Goodall</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3172">Lauren Winfield</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/562">Jhulan Goswami</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/4325">Chedean Nation</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1004">Rachel Priest</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1017">Kyshona Knight</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/579">Kycia Knight</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/5007">Lauren Down</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1008">Sidra Ameen</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/597">Nilakshi Silva</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/892">Nicola Carey</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1792">Hayley Jensen</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/5294">Sheneta Grimmond</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1818">Salma Khatun</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/5068">Taniya Bhatia</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/4041">Georgia Wareham</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1814">Poonam Yadav</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/">Anne Bosch</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1836">Andrie Steyn</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/891">Avanthika Mendis</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/555">Anya Shrubsole</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1018">Natasha McLean</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1832">Sharmin Supta</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3168">Rajeshwari Gayakwad</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3160">Leigh Kasperek</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3264">Anushka Sanjeewani</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1798">Kate Cross</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/603">Inoka Ranaweera</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1005">Lea Tahuhu</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/578">Stacy-Ann King</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/997">Megan Schutt</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1015">Oshadi Ranasinghe</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/4315">Nashra Sandhu</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3167">Sushma Verma</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1837">Chinelle Henry</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3124">Shamilia Connell</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1825">Sanjida Islam</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/">Jess Kerr</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3163">Hannah Rowe</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/423">Shabnim Ismail</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3125">Afy Fletcher</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3337">Sophie Ecclestone</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1006">Diana Baig</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3209">Sidra Nawaz</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1829">Panna Ghosh</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3199">Ama Kanchana</a>
 </td>]

In [61]:
d=[]
for i in c:
    d.append(i.text.replace('\n',''))
d= d[0:9]
d

['Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt']

In [62]:
names_fem= b+d
names_fem

['Tammy Beaumont',
 'Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt']

In [67]:
a= soup6b.find('div', class_='rankings-block__banner--nationality')
a

<div class="rankings-block__banner--nationality">
<div class="flag-15 ENG"></div>
<span class="rankings-block__banner--nation"></span>ENG
                    </div>

In [69]:
i= a.text.replace('\n                    ','')
j= i.replace('\n','')
b=[j]
b

['ENG']

In [71]:
c= soup6b.find_all('span', class_='table-body__logo-text')
c

[<span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">SL</span>]

In [72]:
d=[]
for i in c:
    d.append(i.text)
d= d[0:9]
d

['SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']

In [73]:
nation_fem= b+d
nation_fem

['ENG', 'SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']

In [77]:
a= soup6b.find('div',class_='rankings-block__banner--rating')
b=[a.text]
b

['765']

In [78]:
c= soup6b.find_all('td',class_='table-body__cell rating')
c

[<td class="table-body__cell rating">758</td>,
 <td class="table-body__cell rating">756</td>,
 <td class="table-body__cell rating">746</td>,
 <td class="table-body__cell rating">723</td>,
 <td class="table-body__cell rating">715</td>,
 <td class="table-body__cell rating">710</td>,
 <td class="table-body__cell rating">709</td>,
 <td class="table-body__cell rating">685</td>,
 <td class="table-body__cell rating">683</td>,
 <td class="table-body__cell rating">679</td>,
 <td class="table-body__cell rating">667</td>,
 <td class="table-body__cell rating">666</td>,
 <td class="table-body__cell rating">657</td>,
 <td class="table-body__cell rating">636</td>,
 <td class="table-body__cell rating">620</td>,
 <td class="table-body__cell rating">600</td>,
 <td class="table-body__cell rating">593</td>,
 <td class="table-body__cell rating">577</td>,
 <td class="table-body__cell rating">573</td>,
 <td class="table-body__cell rating">568</td>,
 <td class="table-body__cell rating">560</td>,
 <td class="table-body__cell rating">560</td>,
 <td class="table-body__cell rating">536</td>,
 <td class="table-body__cell rating">536</td>,
 <td class="table-body__cell rating">520</td>,
 <td class="table-body__cell rating">498</td>,
 <td class="table-body__cell rating">461</td>,
 <td class="table-body__cell rating">456</td>,
 <td class="table-body__cell rating">445</td>,
 <td class="table-body__cell rating">440</td>,
 <td class="table-body__cell rating">437</td>,
 <td class="table-body__cell rating">437</td>,
 <td class="table-body__cell rating">413</td>,
 <td class="table-body__cell rating">410</td>,
 <td class="table-body__cell rating">404</td>,
 <td class="table-body__cell rating">398</td>,
 <td class="table-body__cell rating">396</td>,
 <td class="table-body__cell rating">380</td>,
 <td class="table-body__cell rating">361</td>,
 <td class="table-body__cell rating">360</td>,
 <td class="table-body__cell rating">359</td>,
 <td class="table-body__cell rating">357</td>,
 <td class="table-body__cell rating">353</td>,
 <td class="table-body__cell rating">350</td>,
 <td class="table-body__cell rating">341</td>,
 <td class="table-body__cell rating">337</td>,
 <td class="table-body__cell rating">335</td>,
 <td class="table-body__cell rating">320</td>,
 <td class="table-body__cell rating">319</td>,
 <td class="table-body__cell rating">319</td>,
 <td class="table-body__cell rating">317</td>,
 <td class="table-body__cell rating">310</td>,
 <td class="table-body__cell rating">305</td>,
 <td class="table-body__cell rating">305</td>,
 <td class="table-body__cell rating">302</td>,
 <td class="table-body__cell rating">294</td>,
 <td class="table-body__cell rating">292</td>,
 <td class="table-body__cell rating">285</td>,
 <td class="table-body__cell rating">281</td>,
 <td class="table-body__cell rating">276</td>,
 <td class="table-body__cell rating">264</td>,
 <td class="table-body__cell rating">264</td>,
 <td class="table-body__cell rating">261</td>,
 <td class="table-body__cell rating">259</td>,
 <td class="table-body__cell rating">256</td>,
 <td class="table-body__cell rating">252</td>,
 <td class="table-body__cell rating">244</td>,
 <td class="table-body__cell rating">240</td>,
 <td class="table-body__cell rating">239</td>,
 <td class="table-body__cell rating">236</td>,
 <td class="table-body__cell rating">234</td>,
 <td class="table-body__cell rating">234</td>,
 <td class="table-body__cell rating">226</td>,
 <td class="table-body__cell rating">225</td>,
 <td class="table-body__cell rating">224</td>,
 <td class="table-body__cell rating">221</td>,
 <td class="table-body__cell rating">220</td>,
 <td class="table-body__cell rating">219</td>,
 <td class="table-body__cell rating">211</td>,
 <td class="table-body__cell rating">208</td>,
 <td class="table-body__cell rating">205</td>,
 <td class="table-body__cell rating">204</td>,
 <td class="table-body__cell rating">201</td>,
 <td class="table-body__cell rating">195</td>,
 <td class="table-body__cell rating">195</td>,
 <td class="table-body__cell rating">192</td>,
 <td class="table-body__cell rating">190</td>,
 <td class="table-body__cell rating">188</td>,
 <td class="table-body__cell rating">186</td>,
 <td class="table-body__cell rating">181</td>,
 <td class="table-body__cell rating">179</td>,
 <td class="table-body__cell rating">179</td>,
 <td class="table-body__cell rating">178</td>,
 <td class="table-body__cell rating">175</td>,
 <td class="table-body__cell rating">172</td>,
 <td class="table-body__cell rating">170</td>,
 <td class="table-body__cell rating">168</td>,
 <td class="table-body__cell rating">166</td>,
 <td class="table-body__cell rating">161</td>]

In [79]:
d=[]
for i in c:
    d.append(i.text)
d= d[0:9]
d

['758', '756', '746', '723', '715', '710', '709', '685', '683']

In [80]:
rating_fem= b+d
rating_fem

['765', '758', '756', '746', '723', '715', '710', '709', '685', '683']

In [81]:
# Creating dataframe

femodi= {'Player Name': names_fem, 'Team': nation_fem, 'Rating': rating_fem}
df6= pd.DataFrame(femodi)
df6

         Player Name Team Rating
0     Tammy Beaumont  ENG    765
1        Lizelle Lee   SA    758
2       Alyssa Healy  AUS    756
3    Stafanie Taylor   WI    746
4        Meg Lanning  AUS    723
5  Amy Satterthwaite   NZ    715
6    Smriti Mandhana  IND    710
7        Mithali Raj  IND    709
8     Natalie Sciver  ENG    685
9    Laura Wolvaardt   SA    683

### Extractiog top 10 women’s ODI all-rounder along with the records of their team and rating.

In [84]:
page6c= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page6c

In [39]:
soup6c= BeautifulSoup(page6c.content)
soup6c.prettify()

In [87]:
a= soup6c.find('div',class_='rankings-block__banner--name-large')
a

In [88]:
b=[a.text]
b

['Marizanne Kapp']

In [89]:
c= soup6c.find_all('td',class_='table-body__cell rankings-table__name name')
c

[<td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/471">Ellyse Perry</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/573">Stafanie Taylor</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1800">Natalie Sciver</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3192">Deepti Sharma</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/468">Jess Jonassen</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/4128">Ashleigh Gardner</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/430">Dane van Niekerk</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/478">Sophie Devine</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3756">Amelia Kerr</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/547">Katherine Brunt</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1813">Shikha Pandey</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/562">Jhulan Goswami</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/552">Heather Knight</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1830">Rumana Ahmed</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3126">Hayley Matthews</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/559">Harmanpreet Kaur</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/600">Chamari Athapaththu</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/428">Sune Luus</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1814">Poonam Yadav</a>
 </td>]

In [91]:
d=[]
for i in c:
    d.append(i.text.replace('\n',''))
d= d[0:9]
d

['Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Amelia Kerr']

In [92]:
alr_names= b+d
alr_names

['Marizanne Kapp',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Amelia Kerr']

In [96]:
a= soup6c.find('div',class_='rankings-block__banner--nationality')
a.text

'\n\nSA\n                    '

In [97]:
k= a.text.replace('\n                    ','')
j= k.replace('\n','')
b=[j]
b

['SA']

In [98]:
c= soup6c.find_all('span',class_='table-body__logo-text')
c

[<span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">IND</span>]

In [99]:
d=[]
for i in c:
    d.append(i.text)
d= d[0:9]
d

['AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']

In [100]:
alr_nation= b+d
alr_nation

['SA', 'AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']

In [103]:
a= soup6c.find('div',class_='rankings-block__banner--rating')
b=[a.text]
b

['418']

In [104]:
c= soup6c.find_all('td',class_='table-body__cell rating')
c

[<td class="table-body__cell rating">418</td>,
 <td class="table-body__cell rating">410</td>,
 <td class="table-body__cell rating">349</td>,
 <td class="table-body__cell rating">343</td>,
 <td class="table-body__cell rating">307</td>,
 <td class="table-body__cell rating">252</td>,
 <td class="table-body__cell rating">243</td>,
 <td class="table-body__cell rating">242</td>,
 <td class="table-body__cell rating">236</td>,
 <td class="table-body__cell rating">236</td>,
 <td class="table-body__cell rating">204</td>,
 <td class="table-body__cell rating">200</td>,
 <td class="table-body__cell rating">189</td>,
 <td class="table-body__cell rating">179</td>,
 <td class="table-body__cell rating">176</td>,
 <td class="table-body__cell rating">167</td>,
 <td class="table-body__cell rating">164</td>,
 <td class="table-body__cell rating">153</td>,
 <td class="table-body__cell rating">151</td>]

In [105]:
d=[]
for i in c:
    d.append(i.text)
d= d[0:9]
d

['418', '410', '349', '343', '307', '252', '243', '242', '236']

In [106]:
alr_ratings= b+d
alr_ratings

['418', '418', '410', '349', '343', '307', '252', '243', '242', '236']

In [107]:
# Creating dataframe

alrfem= {'Player Name': alr_names, 'Team': alr_nation, 'Rating': alr_ratings}
df7= pd.DataFrame(alrfem)
df7

        Player Name Team Rating
0    Marizanne Kapp   SA    418
1      Ellyse Perry  AUS    418
2   Stafanie Taylor   WI    410
3    Natalie Sciver  ENG    349
4     Deepti Sharma  IND    343
5     Jess Jonassen  AUS    307
6  Ashleigh Gardner  AUS    252
7  Dane van Niekerk   SA    243
8     Sophie Devine   NZ    242
9       Amelia Kerr   NZ    236

# Task 7

Write a python program to scrape details of all the mobile phones under Rs. 20,000
   listed on Amazon.in. The scraped data should include Product Name, Price, Image URL
   and Average Rating.

In [114]:
page7 = requests.get('https://www.amazon.in/s?k=phones+under+20000&rh=n%3A1389401031&ref=nb_sb_noss')
page7

In [40]:
soup7= BeautifulSoup(page7.content)
soup7.prettify()

In [163]:
a= soup7.find_all('span',class_='a-size-medium a-color-base a-text-normal')
a

[<span class="a-size-medium a-color-base a-text-normal">Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi 9A (Nature Green, 2GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal">Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal">OPPO A31 (Fantasy White, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal">Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M31 (Space Black, 6GB RAM, 128GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi 9 (Sporty Orange, 4GB RAM, 128GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera &amp; Full HD+ Display</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi 9A (Nature Green, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor</span>,
 <span class="a-size-medium a-color-base a-text-normal">Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi 9A (Sea Blue, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M21 (Raven Black, 4GB RAM, 64GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal">itel A48 (Gradation Green, 2GB RAM, 32GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi Note 9 Pro (Glacier White, 4GB RAM, 64GB Storage) - Latest 8nm Snapdragon 720G &amp;Alexa Hands-Free Capable</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi Note 9 Pro (Interstellar Black, 4GB RAM, 64GB Storage)- Latest 8nm Snapdragon 720G &amp; Alexa Hands-Free</span>,
 <span class="a-size-medium a-color-base a-text-normal">Vivo Y91i (Ocean Blue, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal">Panasonic Eluga I6 (Black, 2GB Ram, 16GB Storage) - 3 Month No Cost EMI</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M31s (Mirage Black, 6GB RAM, 128GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal">Vivo Y91i (Fusion Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers</span>]

In [164]:
name=[]
for i in a:
    name.append(i.text)
name

['Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Redmi 9A (Nature Green, 2GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor',
 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)',
 'Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'OPPO A31 (Fantasy White, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M31 (Space Black, 6GB RAM, 128GB Storage)',
 'Redmi 9 (Sporty Orange, 4GB RAM, 128GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display',
 'Redmi 9A (Nature Green, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor',
 'Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)',
 'Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor',
 'Redmi 9A (Sea Blue, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor',
 'Samsung Galaxy M21 (Raven Black, 4GB RAM, 64GB Storage)',
 'Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64GB Storage)',
 'itel A48 (Gradation Green, 2GB RAM, 32GB Storage)',
 'Redmi Note 9 Pro (Glacier White, 4GB RAM, 64GB Storage) - Latest 8nm Snapdragon 720G &Alexa Hands-Free Capable',
 'Redmi Note 9 Pro (Interstellar Black, 4GB RAM, 64GB Storage)- Latest 8nm Snapdragon 720G & Alexa Hands-Free',
 'Vivo Y91i (Ocean Blue, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Panasonic Eluga I6 (Black, 2GB Ram, 16GB Storage) - 3 Month No Cost EMI',
 'Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128GB Storage)',
 'Samsung Galaxy M31s (Mirage Black, 6GB RAM, 128GB Storage)',
 'Vivo Y91i (Fusion Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers']

In [165]:
b= soup7.find_all('span',class_='a-price-whole')
b

[<span class="a-price-whole">8,499</span>,
 <span class="a-price-whole">6,799</span>,
 <span class="a-price-whole">13,999</span>,
 <span class="a-price-whole">10,990</span>,
 <span class="a-price-whole">9,990</span>,
 <span class="a-price-whole">10,990</span>,
 <span class="a-price-whole">13,999</span>,
 <span class="a-price-whole">9,999</span>,
 <span class="a-price-whole">10,999</span>,
 <span class="a-price-whole">7,499</span>,
 <span class="a-price-whole">5,000</span>,
 <span class="a-price-whole">12,999</span>,
 <span class="a-price-whole">7,499</span>,
 <span class="a-price-whole">12,499</span>,
 <span class="a-price-whole">12,499</span>,
 <span class="a-price-whole">5,499</span>,
 <span class="a-price-whole">11,999</span>,
 <span class="a-price-whole">11,999</span>,
 <span class="a-price-whole">7,490</span>,
 <span class="a-price-whole">4,934</span>,
 <span class="a-price-whole">6,199</span>,
 <span class="a-price-whole">16,999</span>,
 <span class="a-price-whole">16,999</span>,
 <span class="a-price-whole">7,490</span>]

In [166]:
price=[]
for i in b:
    price.append(i.text)
price

['8,499',
 '6,799',
 '13,999',
 '10,990',
 '9,990',
 '10,990',
 '13,999',
 '9,999',
 '10,999',
 '7,499',
 '5,000',
 '12,999',
 '7,499',
 '12,499',
 '12,499',
 '5,499',
 '11,999',
 '11,999',
 '7,490',
 '4,934',
 '6,199',
 '16,999',
 '16,999',
 '7,490']

In [212]:
c= soup7.find_all('img', class_= 's-image')
image=[]
for i in c:
    image.append(i['src'])
image

['https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71OxJeyywSL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/41QsvcpKaZL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71QLvGIAq5L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71dujTTJDZL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71WPKOJBJIL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81fwKtv0VHL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81fwKtv0VHL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51FnmxwFHDL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/615NcIueEhL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71AYb2AGHXL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71BFG8Zu7zL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51ZoulFBPGL._AC_UY218_.jpg']

In [173]:
d= soup7.find_all('span',class_='a-icon-alt')
d

[<span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.3 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.3 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.3 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">3.0 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">3.8 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.1 out of 5 stars</span>,
 <span class="a-icon-alt">3.3 out of 5 stars</span>,
 <span class="a-icon-alt">3.7 out of 5 stars</span>,
 <span class="a-icon-alt">4.3 out of 5 stars</span>,
 <span class="a-icon-alt">4.3 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4 Stars &amp; Up</span>,
 <span class="a-icon-alt">3 Stars &amp; Up</span>,
 <span class="a-icon-alt">2 Stars &amp; Up</span>,
 <span class="a-icon-alt">1 Star &amp; Up</span>]

In [177]:
rating=[]
for i in d:
    rating.append(i.text)
rating= rating[0:24]
rating

['4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '3.0 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '3.8 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '3.3 out of 5 stars',
 '3.7 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars']

In [213]:
pd.set_option('display.max_colwidth',None)
phone= {'Product name':name, 'Price': price, 'Image url': image, 'Average rating': rating}
df8= pd.DataFrame(phone)
df8

,Product name,Price,Image url,Average rating
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor","8,499",https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg,4.2 out of 5 stars
1,"Redmi 9A (Nature Green, 2GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor","6,799",https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg,4.2 out of 5 stars
2,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)","13,999",https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg,4.3 out of 5 stars
3,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers","10,990",https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg,4.2 out of 5 stars
4,"OPPO A31 (Fantasy White, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers","9,990",https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY218_.jpg,4.2 out of 5 stars
5,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers","10,990",https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY218_.jpg,4.2 out of 5 stars
6,"Samsung Galaxy M31 (Space Black, 6GB RAM, 128GB Storage)","13,999",https://m.media-amazon.com/images/I/71OxJeyywSL._AC_UY218_.jpg,4.3 out of 5 stars
7,"Redmi 9 (Sporty Orange, 4GB RAM, 128GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor","9,999",https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY218_.jpg,4.2 out of 5 stars
8,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display","10,999",https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg,4.3 out of 5 stars
9,"Redmi 9A (Nature Green, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor","7,499",https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg,4.2 out of 5 stars
10,"Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)","5,000",https://m.media-amazon.com/images/I/41QsvcpKaZL._AC_UY218_.jpg,3.0 out of 5 stars
11,"Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor","12,999",https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY218_.jpg,4.2 out of 5 stars
12,"Redmi 9A (Sea Blue, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor","7,499",https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg,4.2 out of 5 stars
13,"Samsung Galaxy M21 (Raven Black, 4GB RAM, 64GB Storage)","12,499",https://m.media-amazon.com/images/I/71QLvGIAq5L._AC_UY218_.jpg,4.2 out of 5 stars
14,"Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64GB Storage)","12,499",https://m.media-amazon.com/images/I/71dujTTJDZL._AC_UY218_.jpg,4.2 out of 5 stars
15,"itel A48 (Gradation Green, 2GB RAM, 32GB Storage)","5,499",https://m.media-amazon.com/images/I/71WPKOJBJIL._AC_UY218_.jpg,3.8 out of 5 stars
16,"Redmi Note 9 Pro (Glacier White, 4GB RAM, 64GB Storage) - Latest 8nm Snapdragon 720G &Alexa Hands-Free Capable","11,999",https://m.media-amazon.com/images/I/81fwKtv0VHL._AC_UY218_.jpg,4.2 out of 5 stars
17,"Redmi Note 9 Pro (Interstellar Black, 4GB RAM, 64GB Storage)- Latest 8nm Snapdragon 720G & Alexa Hands-Free","11,999",https://m.media-amazon.com/images/I/81fwKtv0VHL._AC_UY218_.jpg,4.2 out of 5 stars
18,"Vivo Y91i (Ocean Blue, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers","7,490",https://m.media-amazon.com/images/I/51FnmxwFHDL._AC_UY218_.jpg,4.1 out of 5 stars
19,"Panasonic Eluga I6 (Black, 2GB Ram, 16GB Storage) - 3 Month No Cost EMI","4,934",https://m.media-amazon.com/images/I/615NcIueEhL._AC_UY218_.jpg,3.3 out of 5 stars
20,"Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers","6,199",https://m.media-amazon.com/images/I/71AYb2AGHXL._AC_UY218_.jpg,3.7 out of 5 stars
21,"Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128GB Storage)","16,999",https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY218_.jpg,4.3 out of 5 stars
22,"Samsung Galaxy M31s (Mirage Black, 6GB RAM, 128GB Storage)","16,999",https://m.media-amazon.com/images/I/71BFG8Zu7zL._AC_UY218_.jpg,4.3 out of 5 stars
23,"Vivo Y91i (Fusion Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers","7,490",https://m.media-amazon.com/images/I/51ZoulFBPGL._AC_UY218_.jpg,4.2 out of 5 stars

# Task 8

Write a python program to extract information about the local weather from the National
   Weather Service website of USA, https://www.weather.gov/ for the city, San
   Francisco. You need to extract data about 7 day extended forecast display for the city.
   The data should include period, short description, temperature and description.

In [119]:
page8= requests.get('https://forecast.weather.gov/MapClick.php?lat=37.7771&lon=-122.4196&lg=english&FcstType=text#.YJQeVvkzbIV')
page8

In [41]:
soup8= BeautifulSoup(page8.content)
soup8.prettify()

In [122]:
a= soup8.find_all('div',class_='col-sm-2 forecast-label')
a

[<div class="col-sm-2 forecast-label"><b>Today</b></div>,
 <div class="col-sm-2 forecast-label"><b>Tonight</b></div>,
 <div class="col-sm-2 forecast-label"><b>Friday</b></div>,
 <div class="col-sm-2 forecast-label"><b>Friday Night</b></div>,
 <div class="col-sm-2 forecast-label"><b>Saturday</b></div>,
 <div class="col-sm-2 forecast-label"><b>Saturday Night</b></div>,
 <div class="col-sm-2 forecast-label"><b>Sunday</b></div>,
 <div class="col-sm-2 forecast-label"><b>Sunday Night</b></div>,
 <div class="col-sm-2 forecast-label"><b>Monday</b></div>,
 <div class="col-sm-2 forecast-label"><b>Monday Night</b></div>,
 <div class="col-sm-2 forecast-label"><b>Tuesday</b></div>,
 <div class="col-sm-2 forecast-label"><b>Tuesday Night</b></div>,
 <div class="col-sm-2 forecast-label"><b>Wednesday</b></div>]

In [124]:
period=[]
for i in a:
    period.append(i.text)
period

['Today',
 'Tonight',
 'Friday',
 'Friday Night',
 'Saturday',
 'Saturday Night',
 'Sunday',
 'Sunday Night',
 'Monday',
 'Monday Night',
 'Tuesday',
 'Tuesday Night',
 'Wednesday']

In [125]:
b= soup8.find_all('div',class_='col-sm-10 forecast-text')
b

[<div class="col-sm-10 forecast-text">Increasing clouds, with a high near 63. West wind 14 to 17 mph, with gusts as high as 22 mph. </div>,
 <div class="col-sm-10 forecast-text">Mostly clear, with a low around 50. West wind 11 to 16 mph, with gusts as high as 21 mph. </div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 66. Light and variable wind becoming west 10 to 15 mph in the afternoon. Winds could gust as high as 18 mph. </div>,
 <div class="col-sm-10 forecast-text">Clear, with a low around 50. West wind 5 to 14 mph, with gusts as high as 18 mph. </div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 72. North northwest wind 9 to 11 mph, with gusts as high as 26 mph. </div>,
 <div class="col-sm-10 forecast-text">Mostly clear, with a low around 53.</div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 70.</div>,
 <div class="col-sm-10 forecast-text">Clear, with a low around 52.</div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 72.</div>,
 <div class="col-sm-10 forecast-text">Mostly clear, with a low around 52.</div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 72.</div>,
 <div class="col-sm-10 forecast-text">Mostly clear, with a low around 51.</div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 68.</div>]

In [126]:
temp=[]
for i in b:
    temp.append(i.text)
temp

['Increasing clouds, with a high near 63. West wind 14 to 17 mph, with gusts as high as 22 mph. ',
 'Mostly clear, with a low around 50. West wind 11 to 16 mph, with gusts as high as 21 mph. ',
 'Sunny, with a high near 66. Light and variable wind becoming west 10 to 15 mph in the afternoon. Winds could gust as high as 18 mph. ',
 'Clear, with a low around 50. West wind 5 to 14 mph, with gusts as high as 18 mph. ',
 'Sunny, with a high near 72. North northwest wind 9 to 11 mph, with gusts as high as 26 mph. ',
 'Mostly clear, with a low around 53.',
 'Sunny, with a high near 70.',
 'Clear, with a low around 52.',
 'Sunny, with a high near 72.',
 'Mostly clear, with a low around 52.',
 'Sunny, with a high near 72.',
 'Mostly clear, with a low around 51.',
 'Sunny, with a high near 68.']

In [151]:
c= soup8.find_all('p',class_='short-desc')
c

[<p class="short-desc">Increasing<br/>Clouds</p>,
 <p class="short-desc">Mostly Clear</p>,
 <p class="short-desc">Sunny</p>,
 <p class="short-desc">Clear</p>,
 <p class="short-desc">Sunny</p>,
 <p class="short-desc">Mostly Clear</p>,
 <p class="short-desc">Sunny</p>,
 <p class="short-desc">Clear</p>,
 <p class="short-desc">Sunny</p>]

In [152]:
short=[]
for i in c:
    short.append(i.text)
short

['IncreasingClouds',
 'Mostly Clear',
 'Sunny',
 'Clear',
 'Sunny',
 'Mostly Clear',
 'Sunny',
 'Clear',
 'Sunny']

In [159]:
df9= pd.DataFrame({'Short description': short})
df9

  Short description
0  IncreasingClouds
1      Mostly Clear
2             Sunny
3             Clear
4             Sunny
5      Mostly Clear
6             Sunny
7             Clear
8             Sunny

In [161]:
weather= {'Period': period, 'Temperature and description': temp}
df10= pd.DataFrame(weather)
df11= pd.concat([df10,df9], axis=1)
df11

,Period,Temperature and description,Short description
0,Today,"Increasing clouds, with a high near 63. West wind 14 to 17 mph, with gusts as high as 22 mph.",IncreasingClouds
1,Tonight,"Mostly clear, with a low around 50. West wind 11 to 16 mph, with gusts as high as 21 mph.",Mostly Clear
2,Friday,"Sunny, with a high near 66. Light and variable wind becoming west 10 to 15 mph in the afternoon. Winds could gust as high as 18 mph.",Sunny
3,Friday Night,"Clear, with a low around 50. West wind 5 to 14 mph, with gusts as high as 18 mph.",Clear
4,Saturday,"Sunny, with a high near 72. North northwest wind 9 to 11 mph, with gusts as high as 26 mph.",Sunny
5,Saturday Night,"Mostly clear, with a low around 53.",Mostly Clear
6,Sunday,"Sunny, with a high near 70.",Sunny
7,Sunday Night,"Clear, with a low around 52.",Clear
8,Monday,"Sunny, with a high near 72.",Sunny
9,Monday Night,"Mostly clear, with a low around 52.",NaN
10,Tuesday,"Sunny, with a high near 72.",NaN
11,Tuesday Night,"Mostly clear, with a low around 51.",NaN
12,Wednesday,"Sunny, with a high near 68.",NaN