# WEB SCRAPING – ASSIGNMENT 4

### Tasks

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views
2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.
3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.
4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.
5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code.
6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.
7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code
8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes
10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [1]:
# importing libraries

import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.webdriver import ActionChains

In [2]:
# initializing the driver to a variable

driver= webdriver.Chrome('chromedriver.exe')

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [9]:
# Giving address to the driver

driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [105]:
# Creating lists to store data

rank=[]
name=[]
artist=[]
date=[]
views=[]

In [106]:
# Scraping data

for i in range(1,31):
    
    # Scraping rank
    r = driver.find_elements_by_xpath('//div[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[{}]/td[1]'.format(i))
    for j in r:
        rank.append(j.text)
        
    # Scraping name
    n = driver.find_elements_by_xpath('//div[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[{}]/td[2]'.format(i))
    for j in n:
        name.append(j.text.split('[')[0])
        
    # Scraping artist
    a = driver.find_elements_by_xpath('//div[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[{}]/td[3]'.format(i))
    for j in a:
        artist.append(j.text)
        
    # Scraping views
    v = driver.find_elements_by_xpath('//div[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[{}]/td[4]'.format(i))
    for j in v:
        views.append(j.text + ' Billions')
        
    # Scraping date
    d = driver.find_elements_by_xpath('//div[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[{}]/td[5]'.format(i))
    for j in d:
        date.append(j.text)

In [107]:
# Creating dataframe

x= {'Ranking':rank, 'Name': name, 'Artist': artist, 'Views': views, 'Upload Date': date}
df1= pd.DataFrame(x)
df1

,Ranking,Name,Artist,Views,Upload Date
0,1.,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,8.71 Billions,"June 17, 2016"
1,2.,"""Despacito""",Luis Fonsi,7.38 Billions,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,5.41 Billions,"October 8, 2016"
3,4.,"""Shape of You""",Ed Sheeran,5.34 Billions,"January 30, 2017"
4,5.,"""See You Again""",Wiz Khalifa,5.13 Billions,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.44 Billions,"January 31, 2012"
6,7.,"""Uptown Funk""",Mark Ronson,4.19 Billions,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.12 Billions,"February 27, 2018"
8,9.,"""Bath Song""",Cocomelon – Nursery Rhymes,4.10 Billions,"May 2, 2018"
9,10.,"""Gangnam Style""",Psy,4.08 Billions,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""",ChuChu TV,3.90 Billions,"March 6, 2014"
11,12.,"""Sugar""",Maroon 5,3.48 Billions,"January 14, 2015"
12,13.,"""Sorry""",Justin Bieber,3.44 Billions,"October 22, 2015"
13,14.,"""Dame Tu Cosita""",El Chombo,3.37 Billions,"April 5, 2018"
14,15.,"""Roar""",Katy Perry,3.36 Billions,"September 5, 2013"
15,16.,"""Counting Stars""",OneRepublic,3.31 Billions,"May 31, 2013"
16,17.,"""Thinking Out Loud""",Ed Sheeran,3.26 Billions,"October 7, 2014"
17,18.,"""Dark Horse""",Katy Perry,3.08 Billions,"February 20, 2014"
18,19.,"""Faded""",Alan Walker,3.07 Billions,"December 3, 2015"
19,20.,"""Shake It Off""",Taylor Swift,3.06 Billions,"August 18, 2014"
20,21.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,3.05 Billions,"May 24, 2018"
21,22.,"""Lean On""",Major Lazer,3.04 Billions,"March 22, 2015"
22,23.,"""Bailando""",Enrique Iglesias,3.04 Billions,"April 11, 2014"
23,24.,"""Girls Like You""",Maroon 5,3.04 Billions,"May 31, 2018"
24,25.,"""Let Her Go""",Passenger,3.00 Billions,"July 25, 2012"
25,26.,"""Mi Gente""",J Balvin,2.92 Billions,"June 29, 2017"
26,27.,"""Perfect""",Ed Sheeran,2.86 Billions,"November 9, 2017"
27,28.,"""Hello""",Adele,2.84 Billions,"October 22, 2015"
28,29.,"""Waka Waka (This Time for Africa)""",Shakira,2.84 Billions,"June 4, 2010"
29,30.,"""Axel F""",Crazy Frog,2.82 Billions,"June 16, 2009"

Q2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [76]:
# opening required page on the browser.

driver.get('https://www.bcci.tv/')

In [77]:
# Extracting the elements of the 'international' button and the 'fixtures' button which is inside hover and clicking on it.

intr= driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[1]")
fix= driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]")
action= ActionChains(driver)
action.move_to_element(intr).move_to_element(fix).click().perform()

In [142]:
# Creating lists to store data

title=[]
series=[]
place=[]
day=[]
month=[]
date=[]
time=[]

# Scraping the data

t = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for j in t:
    title.append(j.text)
    
s = driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')
for j in s:
    series.append(j.text)
    
p = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
for j in p:
    place.append(j.text)
        
d = driver.find_elements_by_xpath('//span[@class="fixture__day"]')
for j in d:
    day.append(j.text)
    
dt = driver.find_elements_by_xpath('//span[@class="fixture__date"]')
for j in dt:
    date.append(j.text)
        
m = driver.find_elements_by_xpath('//span[@class="fixture__month"]')
for j in m:
    month.append(j.text)        
                
i = driver.find_elements_by_xpath('//span[@class="fixture__time"]')
for j in i:
    time.append(j.text)

In [146]:
# Creating dataframe

x= {'Title':title, 'Series': series, 'Place': place, 'Day': day, 'Date': date, 'Month': month, 'Time':time}
df2= pd.DataFrame(x)

# Combining the date and months

df2['Fixture Date']=df2['Date'].astype(str)+' '+df2['Month']+' '+df2['Day']
df2.drop(['Day','Month','Date'], axis=1, inplace=True)
df2

,Title,Series,Place,Time,Fixture Date
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",15:00 IST,18 JUNE Friday
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",15:30 IST,04 AUGUST Wednesday
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",15:30 IST,12 AUGUST Thursday
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",15:30 IST,25 AUGUST Wednesday
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",15:30 IST,02 SEPTEMBER Thursday
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",15:30 IST,10 SEPTEMBER Friday

Q3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [3]:
# opening required page on the browser.

driver.get('https://www.guru99.com/')

In [4]:
# Clicking on selenium option
driver.find_element_by_xpath("//ul[@id='java_technologies']/li[3]/a").click()
time.sleep(3)

# Clicking on exception handling
driver.find_element_by_xpath("//div[@class='item-page']/div[2]/table[5]/tbody/tr[34]/td[1]/a/strong").click()

In [9]:
# Creating lists for storing data
name=[]
desc=[]

# Scraping data

for i in range(2,43):
    
    # Scraping the name
    n = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr[{}]/td[1]'.format(i))
    for j in n:
        name.append(j.text)
        
    # Scraping the description
    d = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr[{}]/td[2]'.format(i))
    for j in d:
        desc.append(j.text)

In [11]:
# Creating dataframe

x= {'Exception name':name, 'Description': desc}
df3= pd.DataFrame(x)
df3

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP at current price (19-20) D) GSDP at current price (18-19) E) Share(18-19) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [15]:
# opening required page on the browser.

driver.get('http://statisticstimes.com/')

In [16]:
# Clicking on option 'India', which is hovering inside the 'Economy' option.

economy= driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button")
india= driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")

action= ActionChains(driver)
action.move_to_element(economy).move_to_element(india).click().perform()
time.sleep(3)

# Clicking on GDP of Indian states.

driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [39]:
# Creating lists to store data

rank=[]
state=[]
crp19=[]
crp18=[]
share=[]
gdp=[]

# Scraping the data

for i in range(1,34):
    
    # Scraping rank
    r = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr[{}]/td[1]'.format(i))
    for j in r:
        rank.append(j.text)
        
    # Scraping state
    s = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr[{}]/td[2]'.format(i))
    for j in s:
        state.append(j.text)
        
    # Scraping GSDP
    c = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr[{}]/td[3]'.format(i))
    for j in c:
        crp19.append(j.text)
        
    # Scraping GSDP
    p = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr[{}]/td[4]'.format(i))
    for j in p:
        crp18.append(j.text)
        
    # Scraping share
    h = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr[{}]/td[5]'.format(i))
    for j in h:
        share.append(j.text)
        
    # Scraping GDP
    g = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr[{}]/td[6]'.format(i))
    for j in g:
        gdp.append(j.text)

In [43]:
# Creating dataframe

x= {'Rank':rank, 'State': state, 'GSDP at current price(19-20)': crp19, 'GSDP at current price(18-19)':crp18, 'Share': share, 'GDP($billion)': gdp}
df4= pd.DataFrame(x)
df4

,Rank,State,GSDP at current price(19-20),GSDP at current price(18-19),Share,GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Q5. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used ASSIGNMENT Note: - From the home page you have to click on the trending option from Explore menu through code.

In [108]:
# opening required page on the browser.

driver.get('https://github.com/')

In [89]:
# Opening the trending page through the explore menu.

try:
    explore= driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]/details/summary")
    trending= driver.find_element_by_xpath("//div[@class='dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4']/ul[2]/li[3]/a")
    action= ActionChains(driver)
    action.move_to_element(explore).move_to_element(trending).click().perform()
except ElementNotInteractableException:
    driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]/details/summary").click()
    time.sleep(2)
    driver.find_element_by_xpath("//div[@class='dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4']/ul[2]/li[3]/a").click()

In [90]:
# Creating lists to store data

name=[]
desc=[]
count=[]
lang=[]

# Scraping the repository title
name=[]
n= driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in n:
    name.append(i.text)
    

# Scraping the repository description
for i in range(1,26):
    try:
        d= driver.find_element_by_xpath("//div[@class='Box']/div[2]/article[{}]/p".format(i))
        desc.append(d.text)
    except NoSuchElementException:
        desc.append('-')
        
        
# Scraping the contributors count
c= driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]")
for i in c:
    count.append(i.text)
    
    
# Scraping the language used
for i in range(1,26):
    try:
        l= driver.find_element_by_xpath("//div[@class='Box']/div[2]/article[{}]/div[2]/span[1]/span[2]".format(i))
        lang.append(l.text)
    except NoSuchElementException:
        lang.append('-')

In [91]:
# Creating dataframe

x= {'Repository Title':name, 'Repository Description': desc, 'Contributors Count': count, 'Language used':lang}
df5= pd.DataFrame(x)
df5

,Repository Title,Repository Description,Contributors Count,Language used
0,zzanehip / The-OldOS-Project,Recreating a fully functional version of iOS 4...,109,Swift
1,PaperMC / Paper,High performance Spigot fork that aims to fix ...,"1,000",Shell
2,madMAx43v3r / chia-plotter,-,398,C
3,actions / virtual-environments,GitHub Actions virtual environments,"1,200",PowerShell
4,pytorch / fairseq,Facebook AI Research Sequence-to-Sequence Tool...,"3,260",Python
5,actions / starter-workflows,Accelerating new GitHub Actions workflows,"3,211",TypeScript
6,981011512 / --,停车场系统源码，停车场小程序，智能停车，Parking system，【功能介绍】：①兼容市...,"1,480",Java
7,chrxh / alien,alien is a GPU-accelerated artificial life sim...,33,C++
8,maziarraissi / Applied-Deep-Learning,Applied Deep Learning,95,-
9,yangtingxiao / QuantumultX,脚本，自用,352,-
10,jwasham / coding-interview-university,A complete computer science study plan to beco...,"48,293",-
11,peng-zhihui / XUAN-Bike,-,256,-
12,microsoft / vscode,Visual Studio Code,"19,109",TypeScript
13,EbookFoundation / free-programming-books,📚 Freely available programming books,"42,709",-
14,liupan1890 / aliyunpan,阿里云盘小白羊版 阿里云盘PC版,43,Dart
15,florinpop17 / app-ideas,A Collection of application ideas which can be...,"5,790",-
16,whittlem / pycryptobot,Python Crypto Bot,207,Python
17,danistefanovic / build-your-own-x,🤓 Build your own (insert technology here),"9,705",-
18,OAI / OpenAPI-Specification,The OpenAPI Specification Repository,"7,490",JavaScript
19,Air14 / HyperHide,Hypervisor based anti anti debug plugin for x6...,33,C++
20,Charmve / computer-vision-in-action,《计算机视觉实战演练：算法与应用》中文电子书、源码、读者交流社区（更新中，可以先 star）,89,Jupyter Notebook
21,wuzhi04 / MyActions,-,51,JavaScript
22,tensorflow / tensorflow,An Open Source Machine Learning Framework for ...,"84,908",C++
23,kubeflow / pipelines,Machine Learning Pipelines for Kubeflow,966,Python
24,spring-projects / spring-boot,Spring Boot,"33,846",Java

Q6. Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [109]:
# opening required page on the browser.

driver.get('https://www.billboard.com/')

In [110]:
# Clicking on the 'Charts'.

driver.find_element_by_xpath("//header[@class='header header--desktop padding-x--sm flex--space-between-center bg--dark']/div/ul/li[1]/a").click()
time.sleep(6)

# Clicking on the 'Hot 100' page.

driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']/div[2]/div[2]/div[1]").click()

In [127]:
# Creating lists to store data

song=[]
artist=[]
rank=[]
peak=[]
weeks=[]

# Scraping the song name.

s = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in s:
    song.append(i.text)


# Scraping the artist name

a = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in a:
    artist.append(i.text)
    
    
# Scraping the last week rank

r = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in r:
    rank.append(i.text)
    
    
# Scraping the peak rank

p = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in p:
    peak.append(i.text)
    

# Scraping the weeks on chart

w = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in w:
    weeks.append(i.text)

In [128]:
# Creating dataframe

x= {'Song Name':song, 'Artist': artist, 'Last Week Rank': rank, 'Peak Rank':peak, 'Weeks on Chart': weeks}
df6= pd.DataFrame(x)
df6

,Song Name,Artist,Last Week Rank,Peak Rank,Weeks on Chart
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

Q7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [15]:
# opening required page on the browser.

driver.get('https://www.naukri.com/')

In [16]:
# Clicking on recruiters option

driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a/div").click()
time.sleep(3)

# Switching to the new tab
driver.switch_to.window(driver.window_handles[1])

# Writing on the search bar
driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input').send_keys('Data science')
time.sleep(2)

# Clicking on the search button
driver.find_element_by_id('qsbFormBtn').click()

In [60]:
# Creating lists to store data

name=[]
des=[]
com=[]
skill=[]
loc=[]


# Scraping name
n = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in n:
    name.append(i.text)
    
# Scraping designation
d = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in d:
    des.append(i.text)

# Scraping company name 
c = driver.find_elements_by_xpath('//div[@class="vcard"]/p/a[2]')
for i in c:
    com.append(i.text)
    
# Scraping the skills they hire for 
s = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in s:
    skill.append(i.text)
    
# Scraping the location 
for i in range(1,26):
    for j in range(1,3):
        try:
            l= driver.find_element_by_xpath('//*[@id="tabP-1"]/div[{}]/div[{}]/div[1]/div[1]/p/span[2]/small'.format(i,j))
            loc.append(l.text)
        except NoSuchElementException:
            loc.append('-')

In [61]:
# Creating dataframe

x= {'Name':name, 'Designation': des, 'Company': com, 'Skills they hire for':skill, 'Location': loc}
df7= pd.DataFrame(x)
df7

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
32,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
33,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
34,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
39,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
42,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
43,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
44,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
45,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
46,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

Q8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [3]:
# opening required page on the browser.

driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [13]:
# Creating lists to store data

book=[]
author=[]
sold=[]
publisher=[]
genre=[]


# Scraping data

for i in range(0,100):
    
    # Scraping the book name
    
    b = driver.find_elements_by_id("table-cell-10943-{}-1".format(i))
    for j in b:
        book.append(j.text)
     
    
    # Scraping the author name
    
    a = driver.find_elements_by_id("table-cell-10943-{}-2".format(i))
    for j in a:
        author.append(j.text)
      
    
    # Scraping the volumes sold
    
    s = driver.find_elements_by_id("table-cell-10943-{}-3".format(i))
    for j in s:
        sold.append(j.text)
        
        
    # Scraping the publisher
    
    p = driver.find_elements_by_id("table-cell-10943-{}-4".format(i))
    for j in p:
        publisher.append(j.text)
        
        
    # Scraping the genre
    
    g = driver.find_elements_by_id("table-cell-10943-{}-5".format(i))
    for j in g:
        genre.append(j.text)

In [14]:
# Creating dataframe

x= {'Book Name':book, 'Author Name': author, 'Volumes Sold': sold, 'Publisher':publisher, 'Genre': genre}
df8= pd.DataFrame(x)
df8

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [129]:
# opening required page on the browser.

driver.get('https://www.imdb.com/list/ls095964455/')

In [134]:
# Creating lists to store data

name=[]
span=[]
genre=[]
time=[]
rate=[]
vote=[]

# Scraping the data

n = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in n:
    name.append(i.text)
    
s = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in s:
    span.append(i.text)
    
g = driver.find_elements_by_xpath('//span[@class="genre"]')
for i in g:
    genre.append(i.text)
    
t = driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in t:
    time.append(i.text)
    
r = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
for i in r:
    rate.append(i.text)
    
v = driver.find_elements_by_xpath('//span[@name="nv"]')
for i in v:
    vote.append(i.text)

In [135]:
# Creating dataframe

x= {'Name':name, 'Year Span': span, 'Genre': genre, 'Runtime': time, 'Ratings': rate, 'Votes':vote}
df9= pd.DataFrame(x)
df9

,Name,Year Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,821,471"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"862,613"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"873,930"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,489"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,790"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,545"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,030"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,433"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,858"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,157"

Q10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the Show All Dataset page through code.

In [139]:
# opening required page on the browser.

driver.get('https://archive.ics.uci.edu/')

In [140]:
# Clicking on 'View all dataset'

driver.find_element_by_xpath("//b[contains(text(),'View ALL Data Sets')]").click()

In [158]:
# Creating lists to store data

name=[]
dtype=[]
task=[]
atype=[]
instn=[]
nattri=[]
year=[]


# Scraping the data

n = driver.find_elements_by_xpath('//p[@class="normal"]/b/a')
for i in n:
    name.append(i.text)
    
for i in range(2,590):
    d= driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[2]/p".format(i))
    dtype.append(d.text)
    
    t= driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[3]/p".format(i))
    task.append(t.text)
    
    a= driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[4]/p".format(i))
    atype.append(a.text)
    
    s= driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[5]/p".format(i))
    instn.append(s.text)
    
    n= driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[6]/p".format(i))
    nattri.append(n.text)
    
    y= driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[7]/p".format(i))
    year.append(y.text)

In [159]:
# Creating dataframe

x= {'Dataset Name':name, 'Data Type': dtype, 'Task': task, 'Attribute Type': atype, 'No of Instances': instn, 'No of Attribute':nattri, 'Year': year}
df10= pd.DataFrame(x)
df10

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021